
#captions-container {
    z-index: 800;
    position: fixed;
    top: 0;
    left: 0;
    width: 1280px;
    height: 720px;
}

#captions-container > div {
    position: absolute;
}

#captions-container p {
    font-size: 32px;
    letter-spacing: 1px;
    padding: 2px 0px;
    margin: 0 0 1px 0;
    width: 100%;
}

/* Default styles are used if there is no region or caption styles specified in the captions file */
#captions-container.default > div {
    bottom: 10%;
    left: 20%;
}

#captions-container.default p > span {
    background-image: url(../dep/tv.accedo.ps.ui-captioning/img/opacity0.7.png);
    font-family: 'Arial Narrow', Arial, Helvetica, sans-serif; 
    font-weight: 100; 
    color: white;
}