/* Imports */
@font-face {
  font-family: 'RedBullSiri';
  src: url("../font/RedBullSiriCore-Regular.ttf"); }
@font-face {
  font-family: 'RedBullSiriBold';
  src: url("../font/RedBullSiriCore-Bold.ttf"); }
@font-face {
  font-family: 'RedBullSiriBlack';
  src: url("../font/RedBullSiri-Black.ttf"); }
body {
  font-family: RedBullSiriBlack;
  background-color: #000; }

.disable-animation {
  -webkit-transition: none !important; }

.borderGradientBig .rb-grid-item-overlay,
.borderGradient .rb-grid-item-overlay {
  background: -webkit-linear-gradient(top, transparent, black); }

.rb-grid-item-container {
  position: relative; }

.rb-grid-item-overlay-content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%; }

.rb-grid-item-overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%; }

.rb-grid-item-border {
  position: absolute;
  top: 0; }

.wgt-button.focused {
  color: #F1F1F1;
  background: transparent; }

.text-align-left {
  text-align: left; }

.text-align-right {
  text-align: right; }

.hidden-visibility {
  visibility: hidden; }

.bold-font {
  font-family: RedBullSiriBold; }

.countdown-text-color {
  color: #cd1c4a !important;
  clear: both; }

.whitelabel {
  color: #F1F1F1; }

#TVArea {
  overflow: hidden;
  background-color: #0D0D0D; }

#TVArea.staticPosition {
  position: fixed;
  background-color: transparent; }

#preloadContainer {
  visibility: hidden !important; }

.gridTitle {
  font-family: RedBullSiriBold;
  color: #F1F1F1; }

.toggleWhiteLabel {
  visibility: hidden;
  color: #F1F1F1;
  font-family: RedBullSiri; }

.rightAlignedContainer {
  width: 100%; }

.moreButton {
  float: right; }
  .moreButton .wgt-label {
    font-weight: 600; }

.greyLabel {
  color: #6f6f6f; }

.wgt-button {
  color: #F1F1F1; }

.wgt-keyboard-comp {
  color: #F1F1F1;
  background: #252525;
  border: 0px; }

.wgt-keyboard-comp.focused {
  color: #F1F1F1;
  background: #193151; }

.wgt-keyboard-comp.colSpan-3,
.wgt-keyboard-comp.colSpan-2 {
  text-align: center; }

.wgt-input {
  color: #48C7F2;
  font-weight: bold;
  position: relative;
  display: block;
  float: left;
  overflow: hidden; }

.wgt-input .container {
  position: relative;
  padding: 0px;
  border: 0px;
  display: block;
  width: 100%;
  overflow: hidden; }

.wgt-input .cursor {
  position: absolute !important;
  left: 0px;
  z-index: 30;
  background-color: red; }

#kbArrow,
#kbNumPad {
  position: absolute; }

#kbArrow .disabled {
  visibility: hidden; }

#kbNumPad .disabled {
  background: gray; }

.wgt-textArea .cursor {
  z-index: 30;
  background: red; }

.wgt-dialog-container {
  background: grey; }

.wgt-dialog-container .wgt-dialog-header {
  background: #444444;
  color: #F1F1F1; }

.wgt-dialog-container .wgt-dialog-content {
  min-height: 83%;
  position: relative; }

.wgt-dialog-container .wgt-dialog-footer {
  position: absolute;
  bottom: 0;
  max-height: 100%; }

@media (max-width: 1920px) {
  .wgt-button {
    font-size: 27px; }

  .wgt-grid-item {
    margin-right: 3px; }

  .gridTitle {
    font-size: 35px;
    margin: 23px 23px 23px 30px; }

  .centerDiv {
    width: 1770px;
    height: 345px;
    margin-top: 23px; }

  .bigImage {
    width: 1200px; }

  .toggleWhiteLabel {
    padding-left: 24px;
    padding-right: 24px;
    font-size: 24px;
    margin-right: 8px; }

  .rightAlignedContainer {
    margin-bottom: -22px; }

  .moreButton {
    margin-right: 150px;
    margin-top: 15px;
    padding: 11px 11px 3px 11px; }
    .moreButton .wgt-label {
      margin-top: 12px;
      margin-right: 23px;
      font-family: RedBullSiri; }

  .greyLabel {
    font-size: 27px; }

  .wgt-keyboard-comp {
    font-size: 27px;
    border-radius: 12px;
    line-height: 32px;
    padding: 3px;
    margin: 2px;
    width: 45px;
    height: 45px; }

  .wgt-keyboard-comp.colSpan-3 {
    width: 296px; }

  .wgt-keyboard-comp.colSpan-2 {
    width: 135px; }

  .wgt-input {
    width: 180px;
    font-size: 21px;
    line-height: 32px;
    min-height: 32px;
    border-radius: 3px;
    border: 2px solid #48C7F2;
    padding: 3px;
    margin: 2px; }

  .wgt-input .container {
    height: 32px; }

  .wgt-input .cursor {
    width: 2px;
    top: 6px;
    height: 26px; }

  #kbArrow {
    width: 173px;
    left: 600px;
    top: 135px; }

  #kbNumPad {
    width: 233px;
    left: 795px; }

  .wgt-keyboard-comp.rowSpan-2 {
    height: 101px;
    margin-bottom: -52px; }

  .wgt-textArea {
    width: 375px;
    height: 90px;
    font-size: 21px;
    line-height: 32px;
    border: 2px solid #6f6f6f; }

  .wgt-textArea .cursor {
    width: 2px;
    height: 21px; }

  /* Dialog */
  .wgt-dialog-container {
    top: 135px;
    left: 210px;
    height: 480px;
    width: 1020px; }

  .wgt-dialog-container.dialog2 {
    top: 150px;
    left: 225px; }

  .wgt-dialog-container.inner-dialog {
    top: 60px;
    left: 180px;
    width: 600px;
    height: 300px; } }
@media (max-width: 1280px) {
  .wgt-button {
    font-size: 18px; }

  .wgt-grid-item {
    margin-right: 2px; }

  .gridTitle {
    font-size: 23px;
    margin: 15px 15px 15px 20px; }

  .centerDiv {
    width: 1180px;
    height: 230px;
    margin-top: 15px; }

  .bigImage {
    width: 800px; }

  .toggleWhiteLabel {
    padding-left: 16px;
    padding-right: 16px;
    font-size: 16px;
    margin-right: 5px; }

  .rightAlignedContainer {
    margin-bottom: -15px; }

  .moreButton {
    margin-right: 100px;
    margin-top: 10px;
    padding: 7px 7px 2px 7px; }
    .moreButton .wgt-label {
      margin-top: 8px;
      margin-right: 15px;
      font-family: RedBullSiri; }

  .greyLabel {
    font-size: 18px; }

  .wgt-keyboard-comp {
    font-size: 18px;
    border-radius: 8px;
    line-height: 21px;
    padding: 2px;
    margin: 1px;
    width: 30px;
    height: 30px; }

  .wgt-keyboard-comp.colSpan-3 {
    width: 197px; }

  .wgt-keyboard-comp.colSpan-2 {
    width: 90px; }

  .wgt-input {
    width: 120px;
    font-size: 14px;
    line-height: 21px;
    min-height: 21px;
    border-radius: 2px;
    border: 1px solid #48C7F2;
    padding: 2px;
    margin: 1px; }

  .wgt-input .container {
    height: 21px; }

  .wgt-input .cursor {
    width: 1px;
    top: 4px;
    height: 17px; }

  #kbArrow {
    width: 115px;
    left: 400px;
    top: 90px; }

  #kbNumPad {
    width: 155px;
    left: 530px; }

  .wgt-keyboard-comp.rowSpan-2 {
    height: 67px;
    margin-bottom: -35px; }

  .wgt-textArea {
    width: 250px;
    height: 60px;
    font-size: 14px;
    line-height: 21px;
    border: 1px solid #6f6f6f; }

  .wgt-textArea .cursor {
    width: 1px;
    height: 14px; }

  /* Dialog */
  .wgt-dialog-container {
    top: 90px;
    left: 140px;
    height: 320px;
    width: 680px; }

  .wgt-dialog-container.dialog2 {
    top: 100px;
    left: 150px; }

  .wgt-dialog-container.inner-dialog {
    top: 40px;
    left: 120px;
    width: 400px;
    height: 200px; } }
.wgt-notification-container {
  z-index: 1000;
  position: absolute;
  top: 0;
  left: 0; }

.wgt-notification {
  top: 25%;
  display: block;
  position: absolute;
  overflow: hidden;
  text-align: center;
  font-family: RedBullSiri; }
  .wgt-notification .header {
    background-size: cover; }
  .wgt-notification .wgt-label.header,
  .wgt-notification .wgt-label.message {
    display: block; }
  .wgt-notification .button-container {
    display: block;
    position: absolute;
    width: 100%; }
  .wgt-notification .wgt-button {
    background-color: transparent;
    border-color: gray;
    border-style: solid;
    display: inline-block;
    color: white;
    width: 100%; }
  .wgt-notification .wgt-button.focused {
    color: #ebcc00;
    border-color: #ebcc00; }

.wgt-notification.hidden {
  height: 0px; }

.wgt-notification-dimmer {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8); }

.wgt-notification > .wgt-label {
  display: inline-block;
  color: white; }

.wgt-notification.general .header {
  position: relative; }

.wgt-notification.networkError .header {
  position: relative; }

.wgt-notification.quitPrompt .header {
  position: relative;
  display: inline-block; }

.wgt-notification.quitPrompt .message {
  display: inline-block; }

.wgt-notification.liveStarted {
  background-color: rgba(0, 0, 0, 0.8);
  display: block;
  position: absolute;
  overflow: hidden;
  text-align: center;
  font-family: RedBullSiri; }

.wgt-notification.liveStarted .header {
  float: left; }

.wgt-notification.liveStarted .message {
  text-align: left; }

@media (max-width: 1920px) {
  .wgt-notification-container {
    width: 1920px;
    height: 1080px; }

  .wgt-notification {
    height: 750px;
    width: 570px;
    left: 675px; }
    .wgt-notification .button-container {
      margin-top: 45px; }
    .wgt-notification .wgt-button {
      border-width: 0 0 3px 0;
      font-size: 30px;
      padding: 23px 0; }
    .wgt-notification .wgt-button.first {
      border-width: 3px 0 0 0; }
    .wgt-notification .wgt-button.last {
      border-width: 0 0 3px 0; }
    .wgt-notification .wgt-button.focused {
      border-width: 3px 0; }

  .wgt-notification-dimmer {
    width: 1920px;
    height: 1080px; }

  .wgt-notification > .wgt-label {
    font-size: 42px;
    margin-top: 23px; }

  .wgt-notification.general .header {
    width: 131px;
    height: 131px;
    background-image: url("../img/1080p/popup/general.png");
    left: 219px;
    position: relative;
    margin-bottom: 53px; }

  .wgt-notification.liveNotStarted .header {
    width: 131px;
    height: 131px;
    background-image: url("../img/1080p/popup/live.png");
    left: 219px;
    margin-bottom: 53px; }

  .wgt-notification.networkError .header {
    width: 161px;
    height: 131px;
    background-image: url("../img/1080p/popup/network.png");
    left: 204px;
    margin-bottom: 53px; }

  .wgt-notification.quitPrompt .header {
    top: 18px;
    width: 65px;
    height: 72px;
    background-image: url("../img/1080p/popup/quit.png"); }

  .wgt-notification.quitPrompt .message {
    margin-left: 23px; }

  .wgt-notification.liveStarted {
    left: 1320px;
    top: 1125px;
    width: 525px;
    height: 128px;
    border: 5px solid rgba(255, 203, 28, 0.7); }

  .wgt-notification.liveStarted .header {
    width: 95px;
    height: 95px;
    background-image: url("../img/1080p/icons/active/icon_live.png");
    margin: 0 18px 0 0; }

  .wgt-notification.liveStarted .message {
    font-size: 23px;
    padding-top: 14px;
    margin-right: 23px; } }
@media (max-width: 1280px) {
  .wgt-notification-container {
    width: 1280px;
    height: 720px; }

  .wgt-notification {
    height: 500px;
    width: 380px;
    left: 450px; }
    .wgt-notification .button-container {
      margin-top: 30px; }
    .wgt-notification .wgt-button {
      border-width: 0 0 2px 0;
      font-size: 20px;
      padding: 15px 0; }
    .wgt-notification .wgt-button.first {
      border-width: 2px 0 0 0; }
    .wgt-notification .wgt-button.last {
      border-width: 0 0 2px 0; }
    .wgt-notification .wgt-button.focused {
      border-width: 2px 0; }

  .wgt-notification-dimmer {
    width: 1280px;
    height: 720px; }

  .wgt-notification > .wgt-label {
    font-size: 28px;
    margin-top: 15px; }

  .wgt-notification.general .header {
    width: 87px;
    height: 87px;
    background-image: url("../img/720p/popup/general.png");
    left: 146px;
    position: relative;
    margin-bottom: 35px; }

  .wgt-notification.liveNotStarted .header {
    width: 87px;
    height: 87px;
    background-image: url("../img/720p/popup/live.png");
    left: 146px;
    margin-bottom: 35px; }

  .wgt-notification.networkError .header {
    width: 107px;
    height: 87px;
    background-image: url("../img/720p/popup/network.png");
    left: 136px;
    margin-bottom: 35px; }

  .wgt-notification.quitPrompt .header {
    top: 12px;
    width: 43px;
    height: 48px;
    background-image: url("../img/720p/popup/quit.png"); }

  .wgt-notification.quitPrompt .message {
    margin-left: 15px; }

  .wgt-notification.liveStarted {
    left: 880px;
    top: 750px;
    width: 350px;
    height: 85px;
    border: 3px solid rgba(255, 203, 28, 0.7); }

  .wgt-notification.liveStarted .header {
    width: 63px;
    height: 63px;
    background-image: url("../img/720p/icons/active/icon_live.png");
    margin: 0 12px 0 0; }

  .wgt-notification.liveStarted .message {
    font-size: 15px;
    padding-top: 9px;
    margin-right: 15px; } }
#menu {
  height: 100%;
  position: absolute;
  opacity: 1;
  background-color: #252525; }
  #menu .image-button {
    padding: 0; }
  #menu .image-button.focused {
    background-color: #000000; }
  #menu .image-button-text {
    white-space: nowrap;
    font-family: RedBullSiri;
    color: #6f6f6f;
    font-weight: 600; }
  #menu .livecount-badge {
    position: relative;
    background-color: #cd1c4a;
    color: #FFFFFF;
    font-family: RedBullSiriBold;
    text-align: center; }
  #menu img {
    float: left; }
  #menu .focused .wgt-label {
    color: #F1F1F1;
    font-family: RedBullSiriBold; }

.menu-min #menu .image-button.focused {
  background-color: #0D0D0D; }

@media (max-width: 1920px) {
  #menu {
    width: 413px; }
    #menu .image-button {
      width: 413px;
      height: 120px;
      border-bottom: solid 2px #474747; }
    #menu .image-button-text {
      background-size: 120px;
      padding-left: 135px;
      padding-top: 41px;
      height: 80px;
      width: 120px;
      font-size: 30px; }
    #menu .livecount-badge {
      padding: 3px;
      top: -97px;
      left: 81px;
      font-size: 20px;
      border-radius: 38px;
      border: solid 2px #961537;
      width: 26px;
      height: 26px; }
    #menu img {
      width: 120px;
      height: 120px; }
    #menu .icon-search {
      background: url("../img/1080p/icons/icon_search.png") no-repeat; }
    #menu .icon-search-focused {
      background: url("../img/1080p/icons/active/icon_search.png") no-repeat; }

  .menu-min #menu {
    width: 120px; } }
@media (max-width: 1280px) {
  #menu {
    width: 275px; }
    #menu .image-button {
      width: 275px;
      height: 80px;
      border-bottom: solid 1px #474747; }
    #menu .image-button-text {
      background-size: 80px;
      padding-left: 90px;
      padding-top: 27px;
      height: 53px;
      width: 80px;
      font-size: 20px; }
    #menu .livecount-badge {
      padding: 2px;
      top: -65px;
      left: 54px;
      font-size: 13px;
      border-radius: 25px;
      border: solid 1px #961537;
      width: 17px;
      height: 17px; }
    #menu img {
      width: 80px;
      height: 80px; }
    #menu .icon-search {
      background: url("../img/720p/icons/icon_search.png") no-repeat; }
    #menu .icon-search-focused {
      background: url("../img/720p/icons/active/icon_search.png") no-repeat; }

  .menu-min #menu {
    width: 80px; } }
@media (max-width: 1920px) {
  #page {
    width: 1800px;
    left: 413px; }

  .menu-min #page {
    left: 120px; }

  .fullscreen-min #page {
    width: 1920px; } }
@media (max-width: 1280px) {
  #page {
    width: 1200px;
    left: 275px; }

  .menu-min #page {
    left: 80px; }

  .fullscreen-min #page {
    width: 1280px; } }
.frontView {
  z-index: 10;
  position: relative; }

.backgroundImage {
  position: absolute;
  top: 0;
  left: 0; }

.fullscreen-min #menu {
  visibility: hidden; }

#page {
  position: relative;
  background-color: #0D0D0D; }

.fullscreen-min #page {
  left: 0px; }

#pageContainer {
  position: relative;
  opacity: 1; }

#pageContainer.transTest {
  opacity: 0; }

#captions-container {
  z-index: 799;
  position: fixed;
  top: 0;
  left: 0; }
  #captions-container > div {
    position: absolute; }
  #captions-container p {
    letter-spacing: 1px;
    width: 100%; }

#captions-container.default > div {
  bottom: 10%;
  left: 20%; }
#captions-container.default p > span {
  background-color: rgba(0, 0, 0, 0.7);
  font-family: RedBullSiri;
  font-weight: 100;
  color: white; }

@media (max-width: 1920px) {
  #captions-container {
    width: 1920px;
    height: 1080px; }
    #captions-container p {
      font-size: 48px;
      padding: 3px 0px;
      margin: 0 0 2px 0; } }
@media (max-width: 1280px) {
  #captions-container {
    width: 1280px;
    height: 720px; }
    #captions-container p {
      font-size: 32px;
      padding: 2px 0px;
      margin: 0 0 1px 0; } }
.featuredGrid .wgt-grid-item {
  color: #F1F1F1; }

.featuredGrid .rb-grid-item-description {
  width: 75%; }

.featuredGrid .rb-grid-item-subtitle {
  float: left;
  margin-top: 0; }

.featuredGrid .rb-grid-item-time {
  color: #6f6f6f;
  margin-top: 0; }

@media (max-width: 1920px) {
  #featuredgrid,
  #subChannelFeaturedGrid.featuredgridHeight {
    height: 675px; }

  #subChannelFeaturedGrid {
    height: 1013px; }

  .featuredGrid .wgt-grid-item {
    width: 597px;
    height: 338px;
    margin-bottom: 2px;
    margin-right: 2px; }

  .featuredGrid .wgt-grid-item.bigImage {
    width: 1200px;
    height: 675px; }

  .featuredGrid .wgt-grid-item.fixCellSize {
    width: 599px; }

  .featuredGrid .rb-grid-item-image {
    width: 600px;
    height: 336px; }
  .featuredGrid .rb-grid-item-border {
    width: 590px;
    height: 329px; }

  .featuredGrid .bigImage .rb-grid-item-image {
    width: 1200px;
    height: 675px; }
  .featuredGrid .bigImage .rb-grid-item-border {
    width: 1190px;
    height: 668px; }

  .featuredGrid .rb-grid-item-title {
    font-size: 42px; }

  .featuredGrid .bigImage .rb-grid-item-title {
    font-size: 68px; }

  .featuredGrid .rb-grid-item-description {
    font-size: 32px;
    margin-bottom: 15px; }

  .featuredGrid .rb-grid-item-subtitle {
    font-size: 32px;
    margin-right: 15px;
    max-width: 296px; }

  .featuredGrid .bigImage .rb-grid-item-subtitle {
    max-width: 870px;
    font-size: 35px; }

  .featuredGrid .bigImage .rb-grid-item-time {
    margin-top: 3px; }

  .featuredGrid .rb-grid-item-time {
    font-size: 32px; } }
@media (max-width: 1280px) {
  #featuredgrid,
  #subChannelFeaturedGrid.featuredgridHeight {
    height: 450px; }

  #subChannelFeaturedGrid {
    height: 675px; }

  .featuredGrid .wgt-grid-item {
    width: 398px;
    height: 225px;
    margin-bottom: 1px;
    margin-right: 1px; }

  .featuredGrid .wgt-grid-item.bigImage {
    width: 800px;
    height: 450px; }

  .featuredGrid .wgt-grid-item.fixCellSize {
    width: 399px; }

  .featuredGrid .rb-grid-item-image {
    width: 400px;
    height: 224px; }
  .featuredGrid .rb-grid-item-border {
    width: 393px;
    height: 219px; }

  .featuredGrid .bigImage .rb-grid-item-image {
    width: 800px;
    height: 450px; }
  .featuredGrid .bigImage .rb-grid-item-border {
    width: 793px;
    height: 445px; }

  .featuredGrid .rb-grid-item-title {
    font-size: 28px; }

  .featuredGrid .bigImage .rb-grid-item-title {
    font-size: 45px; }

  .featuredGrid .rb-grid-item-description {
    font-size: 21px;
    margin-bottom: 10px; }

  .featuredGrid .rb-grid-item-subtitle {
    font-size: 21px;
    margin-right: 10px;
    max-width: 197px; }

  .featuredGrid .bigImage .rb-grid-item-subtitle {
    max-width: 580px;
    font-size: 23px; }

  .featuredGrid .bigImage .rb-grid-item-time {
    margin-top: 2px; }

  .featuredGrid .rb-grid-item-time {
    font-size: 21px; } }
.episodeGrid .rb-grid-item-subtitle {
  color: #6f6f6f; }
.episodeGrid .wgt-grid-item {
  color: #F1F1F1;
  margin-right: 0px; }

.episodeGrid .wgt-grid-item.wgt-grid-selected .wgt-label {
  visibility: visible; }

.episodeGrid .wgt-grid-item .wgt-label.whitelabel {
  font-weight: 600;
  color: #6f6f6f; }

@media (max-width: 1920px) {
  .episodeGrid {
    width: 2325px;
    height: 555px; }
    .episodeGrid .rb-grid-item-title {
      font-size: 36px; }
    .episodeGrid .rb-grid-item-subtitle {
      font-size: 32px; }
    .episodeGrid .wgt-grid-item {
      width: 558px;
      height: 570px; }

  .rb-grid-item-subtitle,
  .rb-grid-item-time {
    margin-top: -1px; }

  .episodeGrid .rb-grid-item-image,
  .episodeGrid .rb-grid-item-overlay {
    width: 555px;
    height: 312px; }

  .rb-grid-item-border {
    width: 545px;
    height: 300px; }

  .episodeGrid .wgt-grid-item .wgt-label.whitelabel {
    font-size: 24px;
    padding-left: 24px;
    margin: 23px 0 8px 0; }

  .episodeGrid .rb-grid-item .rb-grid-item-overlay-content {
    margin: 24px 30px; } }
@media (max-width: 1280px) {
  .episodeGrid {
    width: 1550px;
    height: 370px; }
    .episodeGrid .rb-grid-item-title {
      font-size: 24px; }
    .episodeGrid .rb-grid-item-subtitle {
      font-size: 21px; }
    .episodeGrid .wgt-grid-item {
      width: 372px;
      height: 380px; }

  .rb-grid-item-subtitle,
  .rb-grid-item-time {
    margin-top: -1px; }

  .episodeGrid .rb-grid-item-image,
  .episodeGrid .rb-grid-item-overlay {
    width: 370px;
    height: 208px; }

  .rb-grid-item-border {
    width: 363px;
    height: 200px; }

  .episodeGrid .wgt-grid-item .wgt-label.whitelabel {
    font-size: 16px;
    padding-left: 16px;
    margin: 15px 0 5px 0; }

  .episodeGrid .rb-grid-item .rb-grid-item-overlay-content {
    margin: 16px 20px; } }
.latestClipsEpisodeGrid .rb-grid-item-time {
  color: #808080; }

@media (max-width: 1920px) {
  .latestClipsEpisodeGrid,
  .latestEpisodesLoopedGrid {
    width: 2250px;
    height: 315px; }

  .latestClipsEpisodeGrid .wgt-grid-item,
  .latestClipsEpisodeGrid .rb-grid-item-image {
    width: 555px;
    height: 315px; }
  .latestClipsEpisodeGrid .rb-grid-item-border {
    width: 545px;
    height: 303px; }
  .latestClipsEpisodeGrid .rb-grid-item-title {
    font-size: 42px; }
  .latestClipsEpisodeGrid .rb-grid-item-subtitle {
    font-size: 30px;
    float: left;
    margin-right: 15px;
    max-width: 296px; }
  .latestClipsEpisodeGrid .rb-grid-item-time {
    font-size: 30px; } }
@media (max-width: 1280px) {
  .latestClipsEpisodeGrid,
  .latestEpisodesLoopedGrid {
    width: 1500px;
    height: 210px; }

  .latestClipsEpisodeGrid .wgt-grid-item,
  .latestClipsEpisodeGrid .rb-grid-item-image {
    width: 370px;
    height: 210px; }
  .latestClipsEpisodeGrid .rb-grid-item-border {
    width: 363px;
    height: 202px; }
  .latestClipsEpisodeGrid .rb-grid-item-title {
    font-size: 28px; }
  .latestClipsEpisodeGrid .rb-grid-item-subtitle {
    font-size: 20px;
    float: left;
    margin-right: 10px;
    max-width: 197px; }
  .latestClipsEpisodeGrid .rb-grid-item-time {
    font-size: 20px; } }
#showLayout .gridTitle {
  display: none;
  margin-left: 0; }

.show-gradient-overlay {
  position: absolute; }

.showGridImage .wgt-button {
  padding: 0; }

#showLayout img#showTitleImage {
  display: block;
  margin-left: auto;
  margin-right: auto; }

#showLayout .episodeGrid .wgt-label.whitelabel {
  font-family: RedBullSiri; }

@media (max-width: 1920px) {
  #showLayout {
    margin-left: 30px; }

  .show-gradient-overlay {
    width: 1800px;
    height: 1080px;
    background: -webkit-linear-gradient(top, transparent, black); }

  .showGridImage {
    height: 330px; }

  .showGridImage .wgt-grid-item {
    width: 240px;
    height: 330px; }
    .showGridImage .wgt-grid-item .rb-grid-item-border {
      width: 230px;
      height: 318px; }

  #showLayout img#showTitleImage {
    margin-top: 23px;
    height: 270px; }

  #showLayout .episodeGrid .wgt-label.whitelabel {
    font-size: 32px; } }
@media (max-width: 1280px) {
  #showLayout {
    margin-left: 20px; }

  .show-gradient-overlay {
    width: 1200px;
    height: 720px;
    background: -webkit-linear-gradient(top, transparent, black); }

  .showGridImage {
    height: 220px; }

  .showGridImage .wgt-grid-item {
    width: 160px;
    height: 220px; }
    .showGridImage .wgt-grid-item .rb-grid-item-border {
      width: 153px;
      height: 212px; }

  #showLayout img#showTitleImage {
    margin-top: 15px;
    height: 180px; }

  #showLayout .episodeGrid .wgt-label.whitelabel {
    font-size: 21px; } }
.subChannelGrid .rb-grid-item-title {
  color: #F1F1F1;
  font-family: RedBullSiriBlack; }

.subChannelDetailGrid .rb-grid-item-time {
  color: #808080; }
.subChannelDetailGrid .more-arrow {
  margin: auto;
  top: 50%;
  position: relative; }

@media (max-width: 1920px) {
  .subChannelGrid {
    height: 144px; }
    .subChannelGrid .wgt-grid-item,
    .subChannelGrid .rb-grid-item-image {
      width: 255px;
      height: 144px; }
    .subChannelGrid .rb-grid-item-border {
      width: 245px;
      height: 132px; }
    .subChannelGrid .rb-grid-item-title {
      font-size: 27px;
      font-family: RedBullSiriBlack; }
    .subChannelGrid .rb-grid-item-overlay-content {
      margin: 20px;
      margin-bottom: 24px; }

  .subChannelDetailGrid {
    width: 2250px;
    height: 315px; }
    .subChannelDetailGrid .rb-grid-item-image,
    .subChannelDetailGrid .wgt-grid-item {
      width: 555px;
      height: 315px; }
    .subChannelDetailGrid .rb-grid-item-border {
      width: 545px;
      height: 303px; }
    .subChannelDetailGrid .rb-grid-item-title {
      font-size: 36px; }
    .subChannelDetailGrid .rb-grid-item-subtitle {
      font-size: 30px;
      margin-right: 15px; }
    .subChannelDetailGrid .rb-grid-item-time {
      font-size: 30px; }
    .subChannelDetailGrid .wgt-grid-row-v {
      height: 315px;
      min-width: 210px; }
    .subChannelDetailGrid .more-arrow {
      width: 75px;
      height: 75px;
      margin-top: -37px; }
    .subChannelDetailGrid .more-button {
      width: 249px;
      height: 315px;
      background-image: url("../img/1080p/more_button.png"); }
    .subChannelDetailGrid .more-button.focused {
      background-image: url("../img/1080p/more_button_focus.png"); } }
@media (max-width: 1280px) {
  .subChannelGrid {
    height: 96px; }
    .subChannelGrid .wgt-grid-item,
    .subChannelGrid .rb-grid-item-image {
      width: 170px;
      height: 96px; }
    .subChannelGrid .rb-grid-item-border {
      width: 163px;
      height: 88px; }
    .subChannelGrid .rb-grid-item-title {
      font-size: 18px;
      font-family: RedBullSiriBlack; }
    .subChannelGrid .rb-grid-item-overlay-content {
      margin: 13px;
      margin-bottom: 16px; }

  .subChannelDetailGrid {
    width: 1500px;
    height: 210px; }
    .subChannelDetailGrid .rb-grid-item-image,
    .subChannelDetailGrid .wgt-grid-item {
      width: 370px;
      height: 210px; }
    .subChannelDetailGrid .rb-grid-item-border {
      width: 363px;
      height: 202px; }
    .subChannelDetailGrid .rb-grid-item-title {
      font-size: 24px; }
    .subChannelDetailGrid .rb-grid-item-subtitle {
      font-size: 20px;
      margin-right: 10px; }
    .subChannelDetailGrid .rb-grid-item-time {
      font-size: 20px; }
    .subChannelDetailGrid .wgt-grid-row-v {
      height: 210px;
      min-width: 140px; }
    .subChannelDetailGrid .more-arrow {
      width: 50px;
      height: 50px;
      margin-top: -25px; }
    .subChannelDetailGrid .more-button {
      width: 166px;
      height: 210px;
      background-image: url("../img/720p/more_button.png"); }
    .subChannelDetailGrid .more-button.focused {
      background-image: url("../img/720p/more_button_focus.png"); } }
#liveLogo {
  position: absolute; }

#player-related-videos .rb-grid-item-overlay-content {
  width: 85% !important; }

#player-related-videos .rb-grid-item-overlay-content .rb-grid-item-title,
.subChannelGrid .rb-grid-item-overlay-content .rb-grid-item-title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }

.playerContainer {
  z-index: -1 !important; }

.staticPosition #page {
  background-color: transparent; }

.overlay-gradient {
  background-color: transparent;
  background-repeat: repeat-x;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(black), to(transparent));
  background: -webkit-linear-gradient(top, transparent, black); }

.overlay-opacity {
  position: fixed; }

.opacity-ninety-img {
  background-color: rgba(0, 0, 0, 0.9); }

.opacity-eighty-img {
  background-color: rgba(0, 0, 0, 0.8); }

.opacity-seventy-cmd {
  opacity: 0.7;
  background-color: black; }

#player-container {
  position: fixed; }

#player-top {
  position: absolute; }

#player-meta {
  position: absolute;
  bottom: 0;
  font-family: RedBullSiri; }
  #player-meta #videoTitle {
    font-family: RedBullSiriBlack; }
  #player-meta #videoDesc {
    font-family: RedBullSiriBold;
    overflow: hidden; }

#videoCat,
#mightLikeLabel {
  background-color: #cd1c4a;
  color: white;
  display: inline-block;
  font-family: RedBullSiriBold, RedBullSiri; }

#videoTitle {
  color: white; }

#videoDesc {
  color: white; }

#videoDate {
  color: #6f6f6f;
  font-weight: 600;
  font-family: RedBullSiriBold; }

#player-controls {
  position: absolute; }

#player-controls .image-button {
  background-color: #cd1c4a;
  background-repeat: no-repeat;
  opacity: 0.8; }

#player-controls .image-button.focused {
  opacity: 1.0; }

#player-grid {
  position: absolute;
  right: 0px;
  bottom: 0px; }

#player-grid .rb-grid-item-title {
  color: #F1F1F1; }

.player-footer-wrapper {
  background-color: black;
  opacity: 0.8;
  position: absolute; }

.player-footer-wrapper .wgt-label {
  color: #6f6f6f;
  font-family: RedBullSiriBold;
  font-weight: normal; }

.player-footer-wrapper .focused .wgt-label {
  color: #F1F1F1; }

.grid-footer {
  position: relative;
  text-align: center; }

.grid-footer > .wgt-grid-scroll {
  display: inline-block; }

#player-footer {
  margin: 0 auto; }

#player-timeline .wgt-label {
  color: #6f6f6f;
  font-weight: 600; }

#timeline {
  position: relative; }

.wgt-progressBar-background {
  background-color: #6f6f6f;
  opacity: 0.5; }

.wgt-progressBar-playBar-middle {
  background-color: #cd1c4a; }

.wgt-progressBar-playBarDiv {
  position: relative; }

#player-live-area {
  color: #F1F1F1; }

#player-live-area-thanks {
  position: absolute; }

#player-live-area-thanks > .wgt-label {
  font-family: RedBullSiri; }

#player-live-area-countdown {
  position: absolute; }

.countdown-title {
  background-color: #cd1c4a;
  display: inline-block; }

.countdown-item-number {
  text-align: center;
  background-color: #303030; }

.countdown-item-label {
  text-align: center; }

.countdown-desc {
  text-align: center; }

#player-live-area-paused {
  position: absolute; }

#player-live-area-paused .wgt-layout .wgt-label {
  background-color: #242323; }

#player-live-area-paused > .wgt-label {
  font-family: RedBullSiri;
  text-align: center; }

@media (max-width: 1920px) {
  #liveLogo {
    background-image: url("../img/1080p/player/rb_playerlogo.png");
    width: 195px;
    height: 83px;
    left: 1650px;
    top: 60px; }

  #liveLogo.live {
    background-image: url("../img/1080p/player/rb_playerlogo_live.png"); }

  #player-related-videos .wgt-grid-item,
  #player-related-videos .rb-grid-item-image {
    width: 233px;
    height: 132px; }
  #player-related-videos .rb-grid-item-border {
    width: 222px;
    height: 120px; }
  #player-related-videos .wgt-grid-item {
    margin-right: 5px; }
  #player-related-videos .rb-grid-item-overlay-content {
    margin: 23px 18px; }

  .subChannelGrid .rb-grid-item-overlay-content .rb-grid-item-title {
    width: 210px; }

  .staticPosition #player-root {
    width: 1920px;
    height: 1080px; }

  .overlay-gradient {
    background: -webkit-linear-gradient(top, transparent, black);
    width: 1920px;
    height: 1085px; }

  .overlay-opacity {
    left: 0px;
    top: 0px;
    width: 1920px;
    height: 1085px; }

  #player-container {
    width: 1920px;
    height: 1080px;
    top: 0px;
    left: 0px; }

  #player-top {
    bottom: 368px;
    margin-left: 75px;
    height: 533px;
    width: 1761px; }

  .soon #player-top {
    bottom: 113px; }

  #player-meta {
    width: 852px; }
    #player-meta #videoTitle
    #videoDesc {
      max-height: 338px; }

  #mightLikeLabel {
    margin-bottom: 15px; }

  #videoCat,
  #mightLikeLabel {
    padding: 11px 12px 9px 12px; }

  #videoTitle {
    font-size: 60px;
    margin-bottom: 23px;
    margin-top: 8px;
    line-height: 65px; }

  #videoDesc {
    font-size: 32px;
    margin-bottom: 8px; }

  #videoDate {
    font-size: 30px;
    margin-top: 23px; }

  #player-controls {
    bottom: 158px;
    left: 75px; }

  #player-controls .play-video {
    background-image: url("../img/1080p/player/icon_play.png"); }

  #player-controls .pause-video {
    background-image: url("../img/1080p/player/icon_pause.png"); }

  #player-controls .stop-video {
    background-image: url("../img/1080p/player/icon_stop.png"); }

  #player-controls .rewind-video {
    background-image: url("../img/1080p/player/icon_backward.png"); }

  #player-controls .forward-video {
    background-image: url("../img/1080p/player/icon_forward.png"); }

  #player-controls .image-button {
    margin: 0 3px 15px 2px;
    width: 63px;
    height: 63px;
    border: 5px solid transparent; }
    #player-controls .image-button.focused {
      border: 5px solid #FFCB1C; }

  #player-buttons {
    margin-left: 720px; }

  #player-grid {
    margin-left: 375px; }

  .soon #player-grid {
    padding-top: 165px; }

  .player-footer-wrapper {
    top: 972px;
    height: 108px;
    width: 1920px;
    border-top: solid 2px #383838; }

  .player-footer-wrapper .wgt-label {
    font-size: 33px;
    margin-top: 6px;
    margin-left: 15px; }

  .grid-footer {
    margin: 18px auto 0 auto; }

  .grid-footer > .wgt-grid-scroll > .wgt-grid-row-v {
    margin-left: 15px;
    height: 90px; }

  .grid-footer .wgt-layout {
    line-height: 57px;
    height: 72px;
    padding: 5px 8px; }

  .subtitle-toggle-image {
    background-image: url("../img/1080p/icons/icon_subtitle_on.png");
    width: 66px;
    height: 57px;
    margin-top: 8px; }

  .focused > .subtitle-toggle-image {
    background-image: url("../img/1080p/icons/focused/icon_subtitle_on.png"); }

  .captions-off > .subtitle-toggle-image {
    background-image: url("../img/1080p/icons/icon_subtitle_off.png"); }

  .focused.captions-off > .subtitle-toggle-image {
    background-image: url("../img/1080p/icons/focused/icon_subtitle_off.png"); }

  .show-overview-image {
    background-image: url("../img/1080p/icons/icon_arrow.png");
    margin-top: 6px;
    width: 54px;
    height: 54px; }

  .focused > .show-overview-image {
    background-image: url("../img/1080p/icons/focused/icon_arrow.png"); }

  #player-footer {
    width: 345px; }

  #player-timeline {
    margin-left: -33px; }

  #player-timeline.liveMode #timeline {
    margin-left: 15px;
    width: 1478px; }

  #player-timeline .wgt-label {
    font-size: 27px;
    padding-top: 3px;
    width: 111px;
    margin: 11px 15px; }

  #timeline {
    margin-top: 23px;
    width: 1551px;
    height: 15px; }

  #player-live-area-thanks {
    left: 795px;
    top: 300px; }

  #player-live-area-thanks .live-area-logo {
    background: url("../img/1080p/logo.png") no-repeat;
    width: 330px;
    height: 212px; }

  #player-live-area-thanks > .wgt-label {
    font-size: 57px;
    margin-left: -90px;
    margin-top: 35px; }

  #player-live-area-countdown {
    left: 750px;
    top: 180px; }

  .soon #player-live-area-countdown {
    top: 218px; }

  .countdown-title {
    padding: 12px 30px;
    font-size: 33px;
    margin-left: 123px;
    margin-bottom: 23px; }

  .countdown-item-number {
    font-size: 45px;
    margin: 0 3px;
    padding: 18px 0;
    width: 98px; }

  .countdown-item-label {
    font-size: 24px;
    margin-top: 3px; }

  .countdown-desc {
    margin-top: 36px; }

  #player-live-area-paused {
    left: 675px;
    top: 300px; }
    #player-live-area-paused .icon-live-area-pause {
      background: url("../img/1080p/player/pause-live.png") right top no-repeat;
      width: 167px;
      height: 167px; }

  #player-live-area-paused .wgt-layout .wgt-label {
    font-size: 30px;
    padding: 63px 60px 68px; }

  #player-live-area-paused > .wgt-label {
    margin-top: 53px;
    margin-left: 56px;
    width: 450px;
    font-size: 27px; } }
@media (max-width: 1280px) {
  #liveLogo {
    background-image: url("../img/720p/player/rb_playerlogo.png");
    width: 130px;
    height: 55px;
    left: 1100px;
    top: 40px; }

  #liveLogo.live {
    background-image: url("../img/720p/player/rb_playerlogo_live.png"); }

  #player-related-videos .wgt-grid-item,
  #player-related-videos .rb-grid-item-image {
    width: 155px;
    height: 88px; }
  #player-related-videos .rb-grid-item-border {
    width: 148px;
    height: 80px; }
  #player-related-videos .wgt-grid-item {
    margin-right: 3px; }
  #player-related-videos .rb-grid-item-overlay-content {
    margin: 15px 12px; }

  .subChannelGrid .rb-grid-item-overlay-content .rb-grid-item-title {
    width: 140px; }

  .staticPosition #player-root {
    width: 1280px;
    height: 720px; }

  .overlay-gradient {
    background: -webkit-linear-gradient(top, transparent, black);
    width: 1280px;
    height: 723px; }

  .overlay-opacity {
    left: 0px;
    top: 0px;
    width: 1280px;
    height: 723px; }

  #player-container {
    width: 1280px;
    height: 720px;
    top: 0px;
    left: 0px; }

  #player-top {
    bottom: 245px;
    margin-left: 50px;
    height: 355px;
    width: 1174px; }

  .soon #player-top {
    bottom: 75px; }

  #player-meta {
    width: 568px; }
    #player-meta #videoTitle
    #videoDesc {
      max-height: 225px; }

  #mightLikeLabel {
    margin-bottom: 10px; }

  #videoCat,
  #mightLikeLabel {
    padding: 7px 8px 6px 8px; }

  #videoTitle {
    font-size: 40px;
    margin-bottom: 15px;
    margin-top: 5px;
    line-height: 43px; }

  #videoDesc {
    font-size: 21px;
    margin-bottom: 5px; }

  #videoDate {
    font-size: 20px;
    margin-top: 15px; }

  #player-controls {
    bottom: 105px;
    left: 50px; }

  #player-controls .play-video {
    background-image: url("../img/720p/player/icon_play.png"); }

  #player-controls .pause-video {
    background-image: url("../img/720p/player/icon_pause.png"); }

  #player-controls .stop-video {
    background-image: url("../img/720p/player/icon_stop.png"); }

  #player-controls .rewind-video {
    background-image: url("../img/720p/player/icon_backward.png"); }

  #player-controls .forward-video {
    background-image: url("../img/720p/player/icon_forward.png"); }

  #player-controls .image-button {
    margin: 0 2px 10px 1px;
    width: 42px;
    height: 42px;
    border: 3px solid transparent; }
    #player-controls .image-button.focused {
      border: 3px solid #FFCB1C; }

  #player-buttons {
    margin-left: 480px; }

  #player-grid {
    margin-left: 250px; }

  .soon #player-grid {
    padding-top: 110px; }

  .player-footer-wrapper {
    top: 648px;
    height: 72px;
    width: 1280px;
    border-top: solid 1px #383838; }

  .player-footer-wrapper .wgt-label {
    font-size: 22px;
    margin-top: 4px;
    margin-left: 10px; }

  .grid-footer {
    margin: 12px auto 0 auto; }

  .grid-footer > .wgt-grid-scroll > .wgt-grid-row-v {
    margin-left: 10px;
    height: 60px; }

  .grid-footer .wgt-layout {
    line-height: 38px;
    height: 48px;
    padding: 3px 5px; }

  .subtitle-toggle-image {
    background-image: url("../img/720p/icons/icon_subtitle_on.png");
    width: 44px;
    height: 38px;
    margin-top: 5px; }

  .focused > .subtitle-toggle-image {
    background-image: url("../img/720p/icons/focused/icon_subtitle_on.png"); }

  .captions-off > .subtitle-toggle-image {
    background-image: url("../img/720p/icons/icon_subtitle_off.png"); }

  .focused.captions-off > .subtitle-toggle-image {
    background-image: url("../img/720p/icons/focused/icon_subtitle_off.png"); }

  .show-overview-image {
    background-image: url("../img/720p/icons/icon_arrow.png");
    margin-top: 4px;
    width: 36px;
    height: 36px; }

  .focused > .show-overview-image {
    background-image: url("../img/720p/icons/focused/icon_arrow.png"); }

  #player-footer {
    width: 230px; }

  #player-timeline {
    margin-left: -22px; }

  #player-timeline.liveMode #timeline {
    margin-left: 10px;
    width: 985px; }

  #player-timeline .wgt-label {
    font-size: 18px;
    padding-top: 2px;
    width: 74px;
    margin: 7px 10px; }

  #timeline {
    margin-top: 15px;
    width: 1034px;
    height: 10px; }

  #player-live-area-thanks {
    left: 530px;
    top: 200px; }

  #player-live-area-thanks .live-area-logo {
    background: url("../img/720p/logo.png") no-repeat;
    width: 220px;
    height: 141px; }

  #player-live-area-thanks > .wgt-label {
    font-size: 38px;
    margin-left: -60px;
    margin-top: 23px; }

  #player-live-area-countdown {
    left: 500px;
    top: 120px; }

  .soon #player-live-area-countdown {
    top: 145px; }

  .countdown-title {
    padding: 8px 20px;
    font-size: 22px;
    margin-left: 82px;
    margin-bottom: 15px; }

  .countdown-item-number {
    font-size: 30px;
    margin: 0 2px;
    padding: 12px 0;
    width: 65px; }

  .countdown-item-label {
    font-size: 16px;
    margin-top: 2px; }

  .countdown-desc {
    margin-top: 24px; }

  #player-live-area-paused {
    left: 450px;
    top: 200px; }
    #player-live-area-paused .icon-live-area-pause {
      background: url("../img/720p/player/pause-live.png") right top no-repeat;
      width: 111px;
      height: 111px; }

  #player-live-area-paused .wgt-layout .wgt-label {
    font-size: 20px;
    padding: 42px 40px 45px; }

  #player-live-area-paused > .wgt-label {
    margin-top: 35px;
    margin-left: 37px;
    width: 300px;
    font-size: 18px; } }
.search-view-scrollable {
  position: relative; }

.search-view-top-container {
  position: absolute;
  top: 0px;
  left: 0px; }

.search-view-icon {
  position: absolute; }

.search-view-info {
  position: absolute;
  color: #414141;
  text-align: center; }

.searched-for {
  position: absolute;
  float: left;
  color: #666666;
  font-family: RedBullSiri;
  font-weight: 600; }

.search-view-grid-container {
  position: absolute;
  color: #fefefe; }

.search-shows .rb-grid-item-subtitle {
  white-space: normal;
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical; }

.search-tabs {
  position: absolute; }

.search-tabs .wgt-grid-row-v {
  text-align: center; }

.search-grid {
  position: relative; }

.search-grid-container {
  overflow: hidden;
  position: absolute; }

.search-grid-container .search-not-found {
  position: relative;
  text-align: center; }

.search-grid-gradient {
  width: 100%;
  position: absolute;
  background: -webkit-linear-gradient(bottom, rgba(5, 5, 5, 0), rgba(5, 5, 5, 0.1)); }

.search-grid .wgt-grid-scroll {
  overflow: visible; }

.search-grid .no-data-cell,
.search-grid .no-data-cell > .wgt-label {
  width: 100%;
  text-align: center; }

.clear-search {
  position: absolute;
  text-align: center; }

.clear-search > .wgt-label {
  font-family: sans-serif; }

.clear-search.focused {
  background: transparent;
  color: #fefefe; }

.tab-button {
  position: relative;
  margin: 0; }

.tab-button.focused {
  background-color: transparent;
  color: #fefefe; }

.search-made .tab-button.wgt-grid-selected > .tab-button-highlight,
.search-made .tab-button.focused > .tab-button-highlight {
  position: absolute;
  width: 100%;
  bottom: 0;
  background-color: #cd1c4a; }

.search-made .tab-button.focused > .tab-button-highlight {
  background-color: #FFCB1C; }

@media (max-width: 1920px) {
  .search-view {
    height: 1080px;
    width: 1920px; }

  .search-view-top-container {
    width: 1800px;
    height: 173px; }

  .search-view-icon {
    background: url("../img/1080p/search_background.png") no-repeat;
    left: 840px;
    top: 578px;
    width: 165px;
    height: 150px; }

  .search-view-info {
    top: 795px;
    left: 645px;
    font-size: 38px;
    width: 600px; }

  .searched-for {
    top: 54px;
    left: 48px;
    font-size: 36px; }

  .search-view-grid-container {
    left: 210px;
    top: 218px;
    width: 1785px;
    height: 1028px; }

  .search-view-grid-container .wgt-grid-row-h,
  .search-item {
    height: 150px;
    width: 1410px; }

  .search-view-grid-container .wgt-grid-row-h {
    height: 168px; }

  .search-shows .search-item {
    height: 252px; }

  .search-view-grid-container .search-shows .wgt-grid-row-h {
    height: 270px; }

  .search-shows .rb-grid-item-subtitle {
    height: 102px; }

  .search-item .rb-grid-item-overlay {
    left: 266px;
    height: 150px;
    width: 1146px; }
  .search-item .rb-grid-item-border {
    width: 1400px;
    height: 140px; }

  .search-shows .search-item .rb-grid-item-overlay {
    left: 198px;
    height: 243px;
    width: 1200px; }
  .search-shows .search-item .rb-grid-item-border {
    width: 1400px;
    height: 243px; }

  .search-item {
    border-bottom: 2px solid #6f6f6f; }

  .search-item .rb-grid-item-title {
    font-size: 36px; }

  .search-tabs .wgt-grid-row-v {
    width: 282px;
    height: 75px;
    line-height: 75px; }

  .search-grid {
    margin-top: 120px; }

  .search-grid-container {
    top: 75px; }

  .search-grid-container .search-not-found {
    margin-top: 120px;
    width: 1410px; }

  .search-grid-gradient {
    height: 150px;
    top: 75px; }

  .clear-search {
    left: 1643px;
    top: 45px;
    width: 75px;
    height: 66px;
    line-height: 75px; }

  .clear-search > .wgt-label {
    font-size: 38px; }

  .tab-button {
    border-bottom: 2px solid #6f6f6f;
    border-right: 2px solid #6f6f6f;
    height: 74px; }

  .row-4 > .tab-button {
    border-right: 2px solid transparent; }

  .search-made .tab-button.wgt-grid-selected > .tab-button-highlight,
  .search-made .tab-button.focused > .tab-button-highlight {
    height: 8px; } }
@media (max-width: 1280px) {
  .search-view {
    height: 720px;
    width: 1280px; }

  .search-view-top-container {
    width: 1200px;
    height: 115px; }

  .search-view-icon {
    background: url("../img/720p/search_background.png") no-repeat;
    left: 560px;
    top: 385px;
    width: 110px;
    height: 100px; }

  .search-view-info {
    top: 530px;
    left: 430px;
    font-size: 25px;
    width: 400px; }

  .searched-for {
    top: 36px;
    left: 32px;
    font-size: 24px; }

  .search-view-grid-container {
    left: 140px;
    top: 145px;
    width: 1190px;
    height: 685px; }

  .search-view-grid-container .wgt-grid-row-h,
  .search-item {
    height: 100px;
    width: 940px; }

  .search-view-grid-container .wgt-grid-row-h {
    height: 112px; }

  .search-shows .search-item {
    height: 168px; }

  .search-view-grid-container .search-shows .wgt-grid-row-h {
    height: 180px; }

  .search-shows .rb-grid-item-subtitle {
    height: 68px; }

  .search-item .rb-grid-item-overlay {
    left: 177px;
    height: 100px;
    width: 764px; }
  .search-item .rb-grid-item-border {
    width: 933px;
    height: 93px; }

  .search-shows .search-item .rb-grid-item-overlay {
    left: 132px;
    height: 162px;
    width: 800px; }
  .search-shows .search-item .rb-grid-item-border {
    width: 933px;
    height: 162px; }

  .search-item {
    border-bottom: 1px solid #6f6f6f; }

  .search-item .rb-grid-item-title {
    font-size: 24px; }

  .search-tabs .wgt-grid-row-v {
    width: 188px;
    height: 50px;
    line-height: 50px; }

  .search-grid {
    margin-top: 80px; }

  .search-grid-container {
    top: 50px; }

  .search-grid-container .search-not-found {
    margin-top: 80px;
    width: 940px; }

  .search-grid-gradient {
    height: 100px;
    top: 50px; }

  .clear-search {
    left: 1095px;
    top: 30px;
    width: 50px;
    height: 44px;
    line-height: 50px; }

  .clear-search > .wgt-label {
    font-size: 25px; }

  .tab-button {
    border-bottom: 1px solid #6f6f6f;
    border-right: 1px solid #6f6f6f;
    height: 49px; }

  .row-4 > .tab-button {
    border-right: 1px solid transparent; }

  .search-made .tab-button.wgt-grid-selected > .tab-button-highlight,
  .search-made .tab-button.focused > .tab-button-highlight {
    height: 5px; } }
.loading-overlay {
  position: fixed;
  top: 0;
  left: 0; }

.loading-indicator {
  position: absolute;
  margin: auto; }

.loading-indicator.rotate {
  -webkit-animation-name: rotate;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear; }

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg); } }
@media (max-width: 1920px) {
  .loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 1920px;
    height: 1080px; }

  .loading-indicator {
    left: 933px;
    top: 644px;
    width: 75px;
    height: 75px; }

  .loading-overlay.center-loading .loading-indicator {
    top: 522px; }

  .spinner {
    width: 84px;
    height: 63px;
    top: 641px;
    background: url("../img/1080p/loader/loading_sprite.png") no-repeat; }

  .loading-overlay.center-loading .spinner {
    top: 495px; } }
@media (max-width: 1280px) {
  .loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 1280px;
    height: 720px; }

  .loading-indicator {
    left: 622px;
    top: 429px;
    width: 50px;
    height: 50px; }

  .loading-overlay.center-loading .loading-indicator {
    top: 348px; }

  .spinner {
    width: 56px;
    height: 42px;
    top: 427px;
    background: url("../img/720p/loader/loading_sprite.png") no-repeat; }

  .loading-overlay.center-loading .spinner {
    top: 330px; } }
.splashscreen {
  position: absolute;
  top: 0;
  left: 0; }

@media (max-width: 1920px) {
  .splashscreen {
    width: 1920px;
    height: 1080px;
    background: url("../img/1080p/redbull_splash.png") no-repeat; } }
@media (max-width: 1280px) {
  .splashscreen {
    width: 1280px;
    height: 720px;
    background: url("../img/720p/redbull_splash.png") no-repeat; } }
.featuredGrid .rb-grid-item .rb-grid-item-overlay-content,
.rb-grid-item-overlay-content {
  font-family: RedBullSiriBold, RedBullSiri;
  width: 88% !important; }

.featuredGrid .bigImage .rb-grid-item-overlay-content {
  width: 94% !important; }

.rb-grid-item-live-now {
  color: #cd1c4a; }

.rb-grid-item-tag {
  background-color: #cd1c4a;
  display: inline-block; }

.redbull-scroll {
  position: relative; }

.rb-grid-item-title {
  font-family: RedBullSiriBlack;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap; }

.rb-grid-item-time {
  float: left; }

.rb-grid-item-right-now {
  color: #cd1c4a !important; }

.rb-grid-item-subtitle {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap; }

@media (max-width: 1920px) {
  .redbull-scrollable-container {
    width: 1920px;
    height: 1080px; }

  .rb-grid-item.wgt-button.focused .rb-grid-item-border {
    border: 5px solid #FFCB1C; }

  .featuredGrid .rb-grid-item .rb-grid-item-overlay-content,
  .rb-grid-item-overlay-content {
    margin: 38px; }

  .featuredGrid .bigImage .rb-grid-item-overlay-content {
    margin: 41px 38px; }

  .rb-grid-item-live-now {
    font-size: 29px;
    background: url("../img/1080p/icon_live.png") no-repeat left center;
    padding-left: 54px;
    height: 35px;
    padding-top: 8px; }

  .rb-grid-item-tag {
    padding: 8px 12px 8px 14px;
    margin-bottom: 8px;
    font-size: 23px; } }
@media (max-width: 1280px) {
  .redbull-scrollable-container {
    width: 1280px;
    height: 720px; }

  .rb-grid-item.wgt-button.focused .rb-grid-item-border {
    border: 3px solid #FFCB1C; }

  .featuredGrid .rb-grid-item .rb-grid-item-overlay-content,
  .rb-grid-item-overlay-content {
    margin: 25px; }

  .featuredGrid .bigImage .rb-grid-item-overlay-content {
    margin: 27px 25px; }

  .rb-grid-item-live-now {
    font-size: 19px;
    background: url("../img/720p/icon_live.png") no-repeat left center;
    padding-left: 36px;
    height: 23px;
    padding-top: 5px; }

  .rb-grid-item-tag {
    padding: 5px 8px 5px 9px;
    margin-bottom: 5px;
    font-size: 15px; } }
.input-field-container {
  position: absolute;
  color: white;
  border: none;
  font-family: RedBullSiri; }

.search-text-field {
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent; }

.focused .search-text-field {
  border-color: #FFCB1C; }

.search-input-field-text {
  top: 0; }

#kb, #status {
  position: relative; }

.overlay-keyboard {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5); }

.wgt-input,
.keyboard-container .wgt-input.input,
.keyboard-container .wgt-input input {
  background: black;
  color: white; }

.wgt-input .cursor {
  background-color: white; }

.wgt-keyboard-comp {
  text-align: center;
  color: #F1F1F1;
  background: #252525;
  border: 0px; }

.wgt-keyboard-comp.colSpan-6,
.wgt-keyboard-comp.colSpan-4 {
  text-align: center; }

.onscreen-keyboard, .keyboard-input {
  position: absolute;
  left: 50%; }

.wgt-input,
.wgt-input .container,
.wgt-input .container pre {
  font-family: RedBullSiri; }

#samsungTextInputField {
  position: absolute; }

@media (max-width: 1920px) {
  .input-field-container {
    left: 203px;
    top: 45px;
    width: 1421px;
    height: 69px;
    font-size: 35px; }

  .search-text-field {
    width: 1415px;
    height: 63px;
    border: 3px solid #6f6f6f;
    border-radius: 12px; }

  .search-input-field-text {
    font-size: 35px;
    line-height: 60px;
    position: absolute;
    height: 63px;
    width: 1380px;
    left: 15px; }

  #kb {
    top: 143px; }

  #status {
    left: 210px;
    top: 495px;
    width: 450px;
    height: 75px; }

  .wgt-keyboard-container-default,
  .wgt-keyboard-container-capital,
  .wgt-keyboard-container-number {
    width: 780px;
    height: 555px; }
    .wgt-keyboard-container-default .image-button div,
    .wgt-keyboard-container-capital .image-button div,
    .wgt-keyboard-container-number .image-button div {
      height: 53px; }

  #keyDelete {
    width: 117px; }

  /* Keyboard */
  .overlay-keyboard {
    width: 1920px;
    height: 1080px; }

  .wgt-input,
  .keyboard-container .wgt-input.input,
  .keyboard-container .wgt-input input {
    font-size: 36px; }

  .wgt-input .cursor {
    height: 47px; }

  .keyboard-container .wgt-input {
    border: 3px solid #666; }

  .wgt-keyboard-comp {
    font-size: 33px;
    border-radius: 12px;
    line-height: 53px;
    padding: 4px;
    margin: 2px;
    width: 53px;
    height: 53px; }
    .wgt-keyboard-comp .keyboard-delete-key {
      background: url("../img/1080p/delete.png") no-repeat center; }
    .wgt-keyboard-comp .keyboard-enter-key {
      background: url("../img/1080p/enter.png") no-repeat center; }
    .wgt-keyboard-comp .keyboard-left-key {
      background: url("../img/1080p/left-arrow.png") no-repeat center; }
    .wgt-keyboard-comp .keyboard-right-key {
      background: url("../img/1080p/right-arrow.png") no-repeat center; }

  .wgt-keyboard-comp.colSpan-6 {
    width: 375px; }

  .wgt-keyboard-comp.colSpan-4 {
    width: 246px; }

  .onscreen-keyboard {
    top: 330px;
    margin-left: -390px; }

  .keyboard-input {
    top: 252px;
    height: 53px;
    width: 759px;
    margin-left: -388px; }

  .wgt-input,
  .wgt-input .container,
  .wgt-input .container pre {
    font-size: 36px;
    height: 53px;
    line-height: 53px;
    font-family: RedBullSiri; }

  #samsungTextInputField {
    top: -450px; } }
@media (max-width: 1280px) {
  .input-field-container {
    left: 135px;
    top: 30px;
    width: 947px;
    height: 46px;
    font-size: 23px; }

  .search-text-field {
    width: 943px;
    height: 42px;
    border: 2px solid #6f6f6f;
    border-radius: 8px; }

  .search-input-field-text {
    font-size: 23px;
    line-height: 40px;
    position: absolute;
    height: 42px;
    width: 920px;
    left: 10px; }

  #kb {
    top: 95px; }

  #status {
    left: 140px;
    top: 330px;
    width: 300px;
    height: 50px; }

  .wgt-keyboard-container-default,
  .wgt-keyboard-container-capital,
  .wgt-keyboard-container-number {
    width: 520px;
    height: 370px; }
    .wgt-keyboard-container-default .image-button div,
    .wgt-keyboard-container-capital .image-button div,
    .wgt-keyboard-container-number .image-button div {
      height: 35px; }

  #keyDelete {
    width: 78px; }

  /* Keyboard */
  .overlay-keyboard {
    width: 1280px;
    height: 720px; }

  .wgt-input,
  .keyboard-container .wgt-input.input,
  .keyboard-container .wgt-input input {
    font-size: 24px; }

  .wgt-input .cursor {
    height: 31px; }

  .keyboard-container .wgt-input {
    border: 2px solid #666; }

  .wgt-keyboard-comp {
    font-size: 22px;
    border-radius: 8px;
    line-height: 35px;
    padding: 3px;
    margin: 1px;
    width: 35px;
    height: 35px; }
    .wgt-keyboard-comp .keyboard-delete-key {
      background: url("../img/720p/delete.png") no-repeat center; }
    .wgt-keyboard-comp .keyboard-enter-key {
      background: url("../img/720p/enter.png") no-repeat center; }
    .wgt-keyboard-comp .keyboard-left-key {
      background: url("../img/720p/left-arrow.png") no-repeat center; }
    .wgt-keyboard-comp .keyboard-right-key {
      background: url("../img/720p/right-arrow.png") no-repeat center; }

  .wgt-keyboard-comp.colSpan-6 {
    width: 250px; }

  .wgt-keyboard-comp.colSpan-4 {
    width: 164px; }

  .onscreen-keyboard {
    top: 220px;
    margin-left: -260px; }

  .keyboard-input {
    top: 168px;
    height: 35px;
    width: 506px;
    margin-left: -259px; }

  .wgt-input,
  .wgt-input .container,
  .wgt-input .container pre {
    font-size: 24px;
    height: 35px;
    line-height: 35px;
    font-family: RedBullSiri; }

  #samsungTextInputField {
    top: -300px; } }
.dynamicFocus:after {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 0.70; }

.wgt-scrollableContainer {
  overflow: hidden;
  position: relative; }

.wgt-scrollbar-v .nodeTable {
  width: 50% !important; }

.wgt-scrollbar-v.focused .nodeTable .nodeMiddle {
  background: pink; }

#instruc {
  position: relative; }

.wgt-scrollableContainer .scrollable {
  position: absolute;
  width: 100%; }

@media (max-width: 1920px) {
  .dynamicFocus:after {
    border: 5px solid #FFCB1C; }

  .wgt-scrollableContainer {
    width: 1920px;
    height: 1080px; }

  #scrollableContainer-scrollbar {
    left: 765px;
    height: 608px;
    width: 30px; }

  .wgt-scrollbar-v .nodeTable {
    left: 8px; }

  #instruc {
    top: 630px; }

  #movie {
    width: 321px;
    height: 476px; } }
@media (max-width: 1280px) {
  .dynamicFocus:after {
    border: 3px solid #FFCB1C; }

  .wgt-scrollableContainer {
    width: 1280px;
    height: 720px; }

  #scrollableContainer-scrollbar {
    left: 510px;
    height: 405px;
    width: 20px; }

  .wgt-scrollbar-v .nodeTable {
    left: 5px; }

  #instruc {
    top: 420px; }

  #movie {
    width: 214px;
    height: 317px; } }

/*# sourceMappingURL=app.css.map */
