/* line 3, ../scss/style.scss */
#menu { -webkit-transition: width .25s ease-in-out; }

/* line 8, ../scss/style.scss */
#page, #pageContainer { -webkit-transition: left .25s ease-in-out; }

/* line 14, ../scss/style.scss */
.wgt-scrollableContainer .scrollable { -webkit-transition: top .25s ease-in-out; }

/* line 19, ../scss/style.scss */
.redbull-scrollable-container { -webkit-transition: margin-top .25s ease-in-out, height .25s ease-in-out; }

/* line 24, ../scss/style.scss */
.grid-animation { -webkit-transition: all 0.1s ease-in; }

/* line 29, ../scss/style.scss */
.wgt-notification.livestarted.live-notif-anim { -webkit-transition: top .25s ease-in-out; }

/* line 34, ../scss/style.scss */
#player-buttons .image-button { -webkit-transition: opacity 0.25s linear; }

/* line 39, ../scss/style.scss */
#videoCat:empty, .rb-grid-item-tag:empty { display: none; }

/* line 44, ../scss/style.scss */
.search-view-scrollable { -webkit-transition: top .25s ease-in-out; }

/* line 49, ../scss/style.scss */
.overlay-opacity.opacity-seventy-cmd { background: -webkit-linear-gradient(top, transparent, black); }

/* line 54, ../scss/style.scss */
.player-footer-wrapper { opacity: 1; background-color: transparent; }

/* line 60, ../scss/style.scss */
.webkit-ellipsis { overflow: hidden; display: -webkit-box; text-overflow: ellipsis; -webkit-line-clamp: 3; -webkit-box-orient: vertical; }

@media (max-width: 1920px) { /* line 71, ../scss/style.scss */
  .wgt-notification.livestarted.live-notif-anim { top: 900px; } }
@media (max-width: 1280px) { /* line 71, ../scss/style.scss */
  .wgt-notification.livestarted.live-notif-anim { top: 600px; } }
