.wgt-grid-scroll {
    overflow: hidden;
}
.wgt-grid-scroll > .wgt-grid-row-h {
    float: none;
    clear: both;
}
.wgt-grid-scroll > .wgt-grid-row-h > * {
    float: left;
}
.wgt-grid-scroll > .wgt-grid-row-v {
    float: left;
}
.wgt-grid-scroll > .wgt-grid-row-v > * {
    float: none;
    clear: both;
}
