#captions-container 
{
    z-index: 799;
    position: fixed;
    top: 0;
    left: 0;

    > div 
    {
        position: absolute;
    }

    p 
    {
        letter-spacing: 1px;
        width: 100%;
    }
}

#captions-container.default 
{
    > div 
    {
        bottom: 10%;
        left: 20%;
    }
    
    p > span 
    {
        background-color: rgba(0,0,0,0.7);
        font-family: RedBullSiri; 
        font-weight: 100; 
        color: white;
    }
} 

@include scales 
{
    #captions-container 
    {
        width: scale(1280);
        height: scale(720);

        p 
        {
            font-size: scale(32);
            padding: scale(2) 0px;
            margin: 0 0 scale(1) 0;
        }
    }

}