@font-face 
{
    font-family: 'RedBullSiri';
    src: url('../font/RedBullSiriCore-Regular.ttf');
}
@font-face 
{
    font-family: 'RedBullSiriBold';
    src: url('../font/RedBullSiriCore-Bold.ttf');
}

@font-face 
{
    font-family: 'RedBullSiriBlack';
    src: url('../font/RedBullSiri-Black.ttf');
}
