$scale: 1.5 !global;
$folder: "1080p" !global;
$white: #F1F1F1;
$white2: #FFFFFF;
$white3: #fefefe;
$black1: #0D0D0D;
$black2: #252525;
$black3: #474747;
$black4: #000000;
$black5: #303030;
$black6: #242323;
$grey: #6f6f6f;
$grey2: #808080;
$grey3: #666666;
$grey4: #414141;
$grey5: #383838;
$dark_pink: #cd1c4a;
$yellow: #ebcc00;
$yellow2: #FFCB1C;
$maroon: #961537;
$blue: #666;
$dark_blue: #193151;
$light_blue: #48C7F2;
$yellow_green: #5eef47;
$brown: #444444;

@mixin dim($left, $top, $width, $height)
{
    left: scale($left);
    top: scale($top);
    width: scale($width);
    height: scale($height);
}

@mixin queries($factor)
{
    $scale: $factor !global;
    $folder: 720 * $factor + "p" !global;

    @media (max-width: 1280 * $factor + px)
    {
        @content;
    }
}

@mixin scales()
{
    @include queries(1.5)
    {
        @content;
    }

    @include queries(1)
    {
        @content;
    }
}

@mixin animation($name, $duration, $itrCnt, $timingFunc)
{
    -webkit-animation-name: $name;
    -webkit-animation-duration: $duration;
    -webkit-animation-iteration-count: $itrCnt;
    -webkit-animation-timing-function: $timingFunc;
}

@mixin gradient($direction, $x1, $y1, $x2, $y2, $from, $to)
{
    background: -webkit-gradient($direction, $x1 $y1, $x2 $y2, from($from), to($to));
}

@mixin linear_gradient($direction, $color1, $color2)
{
     background: -webkit-linear-gradient($direction, $color1, $color2);
}

@function scale($number, $usePT:false)
{
    @if $usePT == true
    {
        @return ceil($number * $scale) + pt;
    }

    @return ceil($number * $scale) + px;
}

@function image($file)
{
    @return url("../img/" + $folder + "/" + $file + ".png");
}