body
{
    font-family: RedBullSiriBlack;
    background-color: #000;
}

.disable-animation
{
    -webkit-transition: none !important;
}

.borderGradientBig,
.borderGradient
{
    .rb-grid-item-overlay
    {
        @include linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,1));
    }
}

.rb-grid-item-container
{
    position: relative;
}
.rb-grid-item-overlay-content
{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.rb-grid-item-overlay
{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

.rb-grid-item-border
{
    position: absolute;
    top: 0;
}

.wgt-button.focused
{
    color: $white;
    background: transparent;
}

.text-align-left
{
    text-align: left;
}
.text-align-right
{
    text-align: right;
}

.hidden-visibility
{
    visibility: hidden;
}

.bold-font
{
    font-family: RedBullSiriBold;
}

.countdown-text-color
{
    color: $dark_pink !important;
    clear: both;
}

.whitelabel
{
     color: $white;
}

#TVArea
{
    overflow: hidden;
    background-color: $black1;
}

#TVArea.staticPosition
{
    position: fixed;
    background-color: transparent;
}

#preloadContainer
{
    visibility: hidden !important;
}

.gridTitle
{
    font-family: RedBullSiriBold;
    color: $white;
}

.toggleWhiteLabel
{
    visibility: hidden;
    color: $white;
    font-family: RedBullSiri;
}

.rightAlignedContainer
{
    width: 100%;
}

.moreButton
{
    float: right;

    .wgt-label
    {
        font-weight: 600;
    }
}

.greyLabel
{
    color: $grey;
}

.wgt-button
{
    color: $white;
}


.wgt-keyboard-comp
{
    color: $white;
    background: $black2;
    border: 0px;
}

.wgt-keyboard-comp.focused
{
    color: $white;
    background: $dark_blue;
}

.wgt-keyboard-comp.colSpan-3,
.wgt-keyboard-comp.colSpan-2
{
    text-align: center;
}

.wgt-input
{
    color: $light_blue;
    font-weight: bold;
    position: relative;
    display: block;
    float: left;
    overflow: hidden;
}

.wgt-input .container
{
    position: relative;
    padding: 0px;
    border: 0px;
    display: block;
    width: 100%;
    overflow: hidden;
}

.wgt-input .cursor
{
    position: absolute !important;
    left: 0px;
    z-index: 30;
    background-color: red;
}

#kbArrow,
#kbNumPad
{
    position: absolute;
}

#kbArrow .disabled
{
    visibility: hidden;
}

#kbNumPad .disabled
{
    background: gray;
}

.wgt-textArea .cursor
{
    z-index: 30;
    background: red;
}

.wgt-dialog-container
{
    background: grey;
}

.wgt-dialog-container .wgt-dialog-header
{
    background: $brown;
    color: $white;
}

.wgt-dialog-container .wgt-dialog-content
{
    min-height: 83%;
    position: relative;
}

.wgt-dialog-container .wgt-dialog-footer
{
    position: absolute;
    bottom: 0;
    max-height: 100%;
}


@include scales
{
    .wgt-button
    {
        font-size: scale(18);
    }

    .wgt-grid-item
    {
        margin-right: scale(2);
    }

    .gridTitle
     {
        font-size: scale(23);
        margin: scale(15) scale(15) scale(15) scale(20);
    }

    .centerDiv
    {
        width: scale(1180);
        height: scale(230);
        margin-top: scale(15);
    }

    .bigImage
    {
        width: scale(800);
    }

    .toggleWhiteLabel
    {
         padding-left: scale(16);
         padding-right: scale(16);
         font-size: scale(16);
         margin-right: scale(5);
    }

    .rightAlignedContainer
    {
        margin-bottom: scale(-15);
    }

    .moreButton
    {
        margin-right: scale(100);
        margin-top: scale(10);
        padding: scale(7) scale(7) scale(2) scale(7);

        .wgt-label
        {
            margin-top: scale(8);
            margin-right: scale(15);
            font-family: RedBullSiri;
        }
    }

    .greyLabel
    {
        font-size: scale(18);
    }

    .wgt-keyboard-comp
    {
        font-size: scale(18);
        border-radius: scale(8);
        line-height: scale(21);
        padding: scale(2);
        margin: scale(1);
        width: scale(30);
        height: scale(30);
    }

    .wgt-keyboard-comp.colSpan-3
    {
        width: scale(197);
    }

    .wgt-keyboard-comp.colSpan-2
    {
        width: scale(90);
    }

    .wgt-input
    {
        width: scale(120);
        font-size: scale(14);
        line-height: scale(21);
        min-height: scale(21);
        border-radius: scale(2);
        border: scale(1) solid $light_blue;
        padding: scale(2);
        margin: scale(1);
    }


    .wgt-input .container
    {
        height: scale(21);
    }

    .wgt-input .cursor
    {
        width: scale(1);
        top: scale(4);
        height: scale(17);
    }

    #kbArrow
    {
        width: scale(115);
        left: scale(400);
        top: scale(90);
    }

    #kbNumPad
    {
        width: scale(155);
        left: scale(530);
    }

    .wgt-keyboard-comp.rowSpan-2
    {
        height: scale(67);
        margin-bottom: scale(-35);
    }

    .wgt-textArea
    {
        width: scale(250);
        height: scale(60);
        font-size: scale(14);
        line-height: scale(21);
        border: scale(1) solid $grey;
    }

    .wgt-textArea .cursor
    {
        width: scale(1);
        height: scale(14);
    }

    /* Dialog */
    .wgt-dialog-container
    {
        top: scale(90);
        left: scale(140);
        height: scale(320);
        width: scale(680);
    }

    .wgt-dialog-container.dialog2
    {
        top: scale(100);
        left: scale(150);
    }

    .wgt-dialog-container.inner-dialog
    {
        top: scale(40);
        left: scale(120);
        width: scale(400);
        height: scale(200);
    }
}