
#menu
{
    height: 100%;
    position: absolute;
    opacity: 1;
    background-color: $black2;

    .image-button
    {
        padding: 0;
    }

    .image-button.focused 
    {
        background-color: $black4;
    }

   .image-button-text 
    {
        white-space: nowrap;
        font-family: RedBullSiri;
        color: $grey;
        font-weight: 600;
    }

    .livecount-badge
    {
        position: relative;
        background-color: $dark_pink;
        color: $white2;
        font-family: RedBullSiriBold;
        text-align: center;
    }

    img
    {
        float: left;
    }

    .focused 
    {
        .wgt-label 
        {
            color: $white;
            font-family: RedBullSiriBold;
        }
    }    
}

.menu-min 
{
    #menu 
    {          
        .image-button.focused 
        {
            background-color: $black1;
        }
    } 
}

@include scales
{
    #menu 
    {
        width: scale(275);

        .image-button 
        {
            width: scale(275);
            height: scale(80);
            border-bottom: solid scale(1) $black3;
        }

        .image-button-text 
        {
            background-size: scale(80);
            padding-left: scale(90);
            padding-top: scale(27);
            height: scale(53);
            width: scale(80);
            font-size: scale(20);
        }

        .livecount-badge 
        {
            padding: scale(2); 
            top: scale(-65);
            left: scale(54);
            font-size: scale(13);
            border-radius: scale(25);
            border: solid scale(1) $maroon;
            width: scale(17);
            height: scale(17);
        }

        img
        {
            width: scale(80);
            height: scale(80);            
        }

        .icon-search
        {
            background: image(icons/icon_search) no-repeat;
        }


        .icon-search-focused
        {
            background: image(icons/active/icon_search) no-repeat;
        }

    }

    .menu-min 
    {
        #menu 
        {
            width: scale(80);            
        } 
    }
}
