.wgt-notification-container
{
    z-index: 1000;
    position: absolute;
    top: 0;
    left: 0;
}

.wgt-notification
{
    top: 25%;
    display: block;
    position: absolute;
    overflow: hidden;
    text-align: center;
    font-family: RedBullSiri;

    .header
    {
        background-size:cover;
    }

    .wgt-label.header,
    .wgt-label.message
    {
        display: block;
    }

    .button-container
    {
        display: block;
        position: absolute;
        width: 100%;
    }

    .wgt-button
    {
        background-color: transparent;
        border-color: gray;
        border-style: solid;
        display: inline-block;
        color: white;
        width: 100%;
    }

    .wgt-button.focused
    {
        color: $yellow;
        border-color: $yellow;
    }
}

.wgt-notification.hidden
{
    height: 0px;
}

.wgt-notification-dimmer
{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
}

.wgt-notification > .wgt-label
{
    display: inline-block;
    color: white;
}

.wgt-notification.general .header
{
    position: relative;
}

.wgt-notification.networkError .header
{
    position: relative;
}

.wgt-notification.quitPrompt .header
{
    position: relative;
    display: inline-block;
}

.wgt-notification.quitPrompt .message
{
    display: inline-block;
}

.wgt-notification.liveStarted
{
    background-color: rgba(0, 0, 0, 0.8);
    display: block;
    position: absolute;
    overflow: hidden;
    text-align: center;
    font-family: RedBullSiri;
}

.wgt-notification.liveStarted .header
{
    float: left;
}

.wgt-notification.liveStarted .message
{
    text-align: left;
}

@include scales
{
    .wgt-notification-container
    {
        width: scale(1280);
        height: scale(720);
    }

    .wgt-notification
    {
        height: scale(500);
        width: scale(380);
        left: scale(450);

        .button-container
        {
            margin-top: scale(30);
        }

        .wgt-button
        {
            border-width: 0 0 scale(2) 0;
            font-size: scale(20);
            padding: scale(15) 0;
        }

        .wgt-button.first
        {
            border-width: scale(2) 0 0 0;
        }

        .wgt-button.last
        {
            border-width: 0 0 scale(2) 0;
        }

        .wgt-button.focused
        {
            border-width: scale(2) 0;
        }
    }

    .wgt-notification-dimmer
    {
        width: scale(1280);
        height: scale(720);
    }

    .wgt-notification > .wgt-label
    {
        font-size: scale(28);
        margin-top: scale(15);
    }

    .wgt-notification.general .header
    {
        width: scale(87);
        height: scale(87);
        background-image: image(popup/general);
        left: scale(146);
        position: relative;
        margin-bottom: scale(35);
    }

    .wgt-notification.liveNotStarted .header
    {
        width: scale(87);
        height: scale(87);
        background-image: image(popup/live);
        left: scale(146);
        margin-bottom: scale(35);
    }

    .wgt-notification.networkError .header
    {
        width: scale(107);
        height: scale(87);
        background-image: image(popup/network);
        left: scale(136);
        margin-bottom: scale(35);
    }

    .wgt-notification.quitPrompt .header
    {
        top: scale(12);
        width: scale(43);
        height: scale(48);
        background-image: image(popup/quit);
    }

    .wgt-notification.quitPrompt .message
    {
        margin-left: scale(15);
    }

    .wgt-notification.liveStarted
    {
        @include dim(880, 750, 350, 85);
        border: scale(3) solid rgba(255,203,28, 0.70);
    }

    .wgt-notification.liveStarted .header
    {
        width: scale(63);
        height: scale(63);
        background-image: image(icons/active/icon_live);
        margin: 0 scale(12) 0 0;
    }

    .wgt-notification.liveStarted .message
    {
        font-size: scale(15);
        padding-top: scale(9);
        margin-right: scale(15);
    }
}