.dynamicFocus:after 
{
    content:' ';
    display:block;
    position:absolute;
    left:0;
    top:0;
    right:0;
    bottom:0; 
    opacity: 0.70;
}

.wgt-scrollableContainer
{
    overflow:hidden;
    position:relative;
}

.wgt-scrollbar-v .nodeTable
{
    width:50% !important;
}

.wgt-scrollbar-v.focused .nodeTable .nodeMiddle
{
    background:pink;
}

#instruc
{
    position:relative;
}

.wgt-scrollableContainer .scrollable 
{
    position:absolute;
    width:100%;
}

@include scales 
{

    .dynamicFocus:after 
    {
        border: scale(3) solid $yellow2;
    }
    
    .wgt-scrollableContainer
    {
        width: scale(1280);
        height: scale(720);
    }
    
    #scrollableContainer-scrollbar
    {
        left: scale(510);
        height: scale(405);
        width: scale(20);
    }
    
    .wgt-scrollbar-v .nodeTable
    {
        left: scale(5);
    }
    
    #instruc
    {
        top: scale(420);
    }
    
    #movie
    {
        width:scale(214);
        height:scale(317);
    }
}