@include scales
{

    #page 
    {
        width: scale(1200);
        left: scale(275);
    }

    .menu-min #page 
    {
        left: scale(80); 
    }

    .fullscreen-min #page 
    {
        width: scale(1280); 
    }
}

.frontView 
{
    z-index: 10;
    position: relative; 
}

.backgroundImage 
{
    position: absolute;
    top: 0;
    left: 0; 
}

.fullscreen-min #menu 
{
    visibility: hidden; 
}

#page
{
    position: relative;
    background-color: $black1; 
}

.fullscreen-min #page 
{
    left: 0px;
}

#pageContainer 
{
    position: relative;
    opacity: 1; 
}

#pageContainer.transTest 
{
    opacity: 0; 
}
