@import "helper";

#menu 
{
    -webkit-transition: width .25s ease-in-out;
}

#page,
#pageContainer 
{
    -webkit-transition: left .25s ease-in-out;
}

.wgt-scrollableContainer .scrollable 
{
    -webkit-transition: top .25s ease-in-out;
}

.redbull-scrollable-container 
{
    -webkit-transition: margin-top .25s ease-in-out, height .25s ease-in-out;
}

.grid-animation 
{
    -webkit-transition: all 0.1s ease-in; 
}

.wgt-notification.livestarted.live-notif-anim 
{   
    -webkit-transition: top .25s ease-in-out;   
}

#player-buttons .image-button 
{
    -webkit-transition: opacity 0.25s linear;
}    

#videoCat:empty, .rb-grid-item-tag:empty 
{
    display: none;
}

.search-view-scrollable 
{
    -webkit-transition: top .25s ease-in-out;
}

.overlay-opacity.opacity-seventy-cmd 
{
    @include linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,1));
}

.player-footer-wrapper
{
    opacity: 1;
    background-color:transparent;
}

.webkit-ellipsis 
{
    overflow:hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

@include scales
{
    .wgt-notification.livestarted.live-notif-anim
    {
        top: scale(600);
    }
}