.wgt-dialog, .wgt-dialog-overlay, .wgt-dialog-container {
    position: absolute;
}
.wgt-dialog.wgt-dialog-modal, .wgt-dialog-overlay {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.wgt-dialog-overlay {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAAlwSFlzAAALEwAACxMBAJqcGAAAAA1JREFUCNdjYGBgMAYAADgANNF/knAAAAAASUVORK5CYII=);
}
