.wgt-progressBar-background {
    width: 100%;
    height: 100%;
}
.wgt-progressBar-playBarDiv {
    padding: 0px;
    margin: 0px;
    position: absolute;
    top: 0px;
    height: 100%;
}
.wgt-progressBar-playBar-front, .wgt-progressBar-playBar-middle, .wgt-progressBar-playBar-end {
    height:100%
}
.wgt-progressBar-playBar {
    border-collapse: collapse;
    table-layout: fixed;
    height: 100%;
}
.wgt-progressBar-pointer {
    right: 0px;
    top: 0px;
    position: absolute;
}
