.wgt-scrollbar {
    position: absolute;
    padding: 0px;
    margin: 0px;
}
.wgt-scrollbar .track {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width:100%;
	table-layout: fixed;
}
.wgt-scrollbar .nodeTable {
	border-collapse: collapse;
	position: absolute;
}
.wgt-scrollbar .nodeTopTr {
    border-collapse:collapse;
}
.wgt-scrollbar-h .trackTop {
    height:100%;
}
.wgt-scrollbar-h .trackMiddle {
    height:100%;
}
.wgt-scrollbar-h .trackBottom {
    height:100%;
}
.wgt-scrollbar-h .nodeTable {
    height:100%;
}
.wgt-scrollbar-v .trackTop {
    width:100%;
}
.wgt-scrollbar-v .trackMiddle {
    width:100%;
}
.wgt-scrollbar-v .trackBottom {
    width:100%;
}
.wgt-scrollbar-v .nodeTable {
    width:100%;
}
