.input-field-container
{
    position: absolute;
    color:white;
    border: none;
    font-family: RedBullSiri;
}

.search-text-field
{
    position: absolute;
    top:0;
    left:0;
    background-color: transparent;
}

.focused .search-text-field
{
    border-color: $yellow2;
}

.search-input-field-text
{
    top: 0;
}

#kb, #status
{
    position: relative;
}

.overlay-keyboard
{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
}

.wgt-input,
.keyboard-container .wgt-input.input,
.keyboard-container .wgt-input input
{
    background: black;
    color: white;
}

.wgt-input .cursor
{
    background-color: white;
}


.wgt-keyboard-comp
{
    text-align: center;
    color: $white;
    background: $black2;
    border: 0px;
}

.wgt-keyboard-comp.colSpan-6,
.wgt-keyboard-comp.colSpan-4
{
    text-align: center;
}

.onscreen-keyboard, .keyboard-input
{
    position: absolute;
    left: 50%;
}

.wgt-input,
.wgt-input .container,
.wgt-input .container pre
{
    font-family: RedBullSiri;
}

#samsungTextInputField
{
    position: absolute;
}

@include scales
{
    .input-field-container
    {
        @include dim(135, 30, 947, 46);
        font-size: scale(23);
    }

    .search-text-field
    {
        width: scale(943);
        height: scale(42);
        border: scale(2) solid $grey;
        border-radius: scale(8);
    }

    .search-input-field-text
    {
        font-size: scale(23);
        line-height: scale(40);
        position: absolute;
        height: scale(42);
        width: scale(920);
        left: scale(10);
    }

    #kb
    {
        top: scale(95);
    }

    #status
    {
        @include dim(140, 330, 300, 50);
    }

    .wgt-keyboard-container-default,
    .wgt-keyboard-container-capital,
    .wgt-keyboard-container-number
    {
        width: scale(520);
        height: scale(370);

        .image-button div
        {
            height: scale(35);
        }
    }

    #keyDelete
    {
        width: scale(78);
    }

    /* Keyboard */
    .overlay-keyboard
    {
        width: scale(1280);
        height: scale(720);
    }

    .wgt-input,
    .keyboard-container .wgt-input.input,
    .keyboard-container .wgt-input input
    {
        font-size: scale(24);
    }

    .wgt-input .cursor
    {
        height: scale(31);
    }

    .keyboard-container .wgt-input
    {
        border: scale(2) solid $blue;
    }

    .wgt-keyboard-comp
    {
        font-size: scale(22);
        border-radius: scale(8);
        line-height: scale(35);
        padding: scale(2.66);
        margin: scale(1);
        width: scale(35);
        height: scale(35);

        .keyboard-delete-key
        {
            background: image(delete) no-repeat center;
        }

        .keyboard-enter-key
        {
            background: image(enter) no-repeat center;
        }

        .keyboard-left-key
        {
            background: image(left-arrow) no-repeat center;
        }

        .keyboard-right-key
        {
            background: image(right-arrow) no-repeat center;
        }
    }

    .wgt-keyboard-comp.colSpan-6
    {
        width: scale(250);
    }

    .wgt-keyboard-comp.colSpan-4
    {
        width: scale(164);
    }

    .onscreen-keyboard
    {
        top: scale(220);
        margin-left: scale(-260);
    }

    .keyboard-input
    {
        top: scale(168);
        height: scale(35);
        width: scale(506);
        margin-left: scale(-259);
    }

    .wgt-input,
    .wgt-input .container,
    .wgt-input .container pre
    {
        font-size: scale(24);
        height: scale(35);
        line-height: scale(35);
        font-family: RedBullSiri;

    }

    #samsungTextInputField
    {
        top: scale(-300);
    }

}