.loading-overlay
{
    position: fixed;
    top: 0;
    left: 0;
}

.loading-indicator
{
    position: absolute;
    margin: auto;
}

.loading-indicator.rotate
{
    @include animation(rotate, 1s, infinite, linear);
}

@-webkit-keyframes rotate
{
  from
  {
    -webkit-transform: rotate(0deg);
  }

  to
  {
    -webkit-transform: rotate(360deg);
  }
}

@include scales
{
    .loading-overlay
    {
        position: fixed;
        top: 0;
        left: 0;
        width: scale(1280);
        height: scale(720);
    }

    .loading-indicator
    {
        @include dim(622, 429, 50, 50);
    }

    .loading-overlay.center-loading .loading-indicator
    {
        top: scale(348);
    }

    .spinner
    {
        width: scale(56);
        height: scale(42);
        top: scale(427);
        background: image(loader/loading_sprite) no-repeat;
    }

    .loading-overlay.center-loading .spinner
    {
        top: scale(330);
    }
}