.featuredGrid .rb-grid-item .rb-grid-item-overlay-content,
.rb-grid-item-overlay-content
{
    font-family: RedBullSiriBold, RedBullSiri;
    width: 88% !important;
}

.featuredGrid .bigImage .rb-grid-item-overlay-content
{
    width: 94% !important;
}

.rb-grid-item-live-now
{
    color: $dark_pink;
}

.rb-grid-item-tag
{
    background-color: $dark_pink;
    display: inline-block;
}

.redbull-scroll
{
    position: relative;
}

.rb-grid-item-title
{
    font-family: RedBullSiriBlack;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.rb-grid-item-time
{
    float:left;
}

.rb-grid-item-right-now
{
    color: $dark_pink !important;
}

.rb-grid-item-subtitle
{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

@include scales
{
    .redbull-scrollable-container
    {
        width: scale(1280);
        height: scale(720);
    }

    .rb-grid-item.wgt-button.focused .rb-grid-item-border
    {
        border: scale(3) solid $yellow2;

    }

    .featuredGrid .rb-grid-item .rb-grid-item-overlay-content,
    .rb-grid-item-overlay-content
    {
        margin: scale(25);
    }

    .featuredGrid .bigImage .rb-grid-item-overlay-content
    {
        margin: scale(27) scale(25);
    }

    .rb-grid-item-live-now
    {
        font-size: scale(19);
        background: image(icon_live) no-repeat left center;
        padding-left: scale(36);
        height: scale(23);
        padding-top: scale(5);
    }

    .rb-grid-item-tag
    {
        padding: scale(5) scale(8) scale(5) scale(9);
        margin-bottom: scale(5);
        font-size: scale(15);
    }
}