.splashscreen 
{
    position: absolute;
    top: 0;
    left: 0;    
}

@include scales 
{
    .splashscreen 
    {
        width: scale(1280);
        height: scale(720);
        background: image(redbull_splash) no-repeat;
    }
}
