#TVArea {
    position: fixed;
    left: 0;
    top: 0;
}
#TVArea._1920x1080 {
    width:1920px;
    height:1080px;
}
#TVArea._1280x720 {
    width:1280px;
    height:720px;
}
#TVArea._960x540 {
    width:960px;
    height:540px;
}
#TVArea._854x480 {
    width:854px;
    height:480px;
}
