/* Sample styling of Notification widget */

.wgt-notification {
    height: 60px;
    background-color: rgba(0, 0, 0, 0.7);
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    transition: height 0.75s;
    -o-transition: height 0.75s;
    -moz-transition: height 0.75s;
    -webkit-transition: height 0.75s;
}

.wgt-notification.hidden {
    height: 0px;
}

.wgt-notification-dimmer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
}

.wgt-notification > .wgt-label {
    display: inline-block;
    font-size: 22px;
    color: white;
    margin-left: 20px;
    margin-top: 15px;
}

.wgt-notification .button-container {
    display: inline-block;
    position: absolute;
    margin-left: 20px;
    margin-top: 12px;
}

.wgt-notification .wgt-button {
    background-color: transparent;
    border: 2px solid white;
    display: inline-block;
    font-size: 20px;
    color: white;
    padding: 6px;
}

.wgt-notification .wgt-button.focused .wgt-label {
    text-decoration: underline;
}

.wgt-notification.error {
    background-color: rgba(255, 0, 0, 0.9);
}

.wgt-notification.info {
    background-color: rgba(0, 185, 0, 0.9);
}

.wgt-notification.attention {
    background-color: rgba(240, 190, 16, 0.9);
}

.wgt-notification .header {
    font-weight: 600;
}

.wgt-notification .message {
    font-weight: 200;
}
