.wgt-input-div .wrapperCopy,.wgt-input .wrapper {
  position: absolute;
  left: 0px;
  margin: 0px;
}
.wgt-input-div .wrapperCopy {
    visibility: hidden;
}
.wgt-input-div .container{
     position: absolute;
     top:0px;
     left:0px;
     padding: 0px;
     border: 0px;
     display: block;
     width: 100%;
     height: 100%;
     overflow: hidden;
}
.wgt-input-div .placeholder{
     position:absolute;
}