.wgt-input-native-ele {
     resize: none;
     margin: 0px;
     padding: 0px;
     border: 0px;
     outline: none;
     word-break: break-all;
     word-wrap: break-word;
     height: 100%;
     width:100%;
}
