.wgt-textarea-div .wrapper {
     position:absolute;
     left:0px;
     width:100%;
     word-break:break-all;
     word-wrap:break-word;
     white-space:pre-wrap;
}
.wgt-textarea-div .wrapperCopy {
    position: absolute;
     left: 0px;
     width: 100%;
}
.wgt-textarea-div .wrapperCopy span {
     word-break: break-all;
     word-wrap: break-word;
     white-space: pre-wrap;
}
.wgt-textarea-div .wrapperCopy .cursor {
     position: relative;
     display: inline-block;
     visibility: hidden;
}
.wgt-textarea-div .container{
     position: absolute;
     padding: 0px;
     border: 0px;
     top:0px;
     left:0px;
     display: block;
     width: 100%;
     height: 100%;
     overflow: hidden;
}
.wgt-textarea-div .placeholder{
     position:absolute;
}