.wgt-textarea-native-ele {
    resize: none;
    margin: 0px;
    padding: 0px;
    border: 0px;
    outline: none;
    word-break:break-all;
    word-wrap: break-word;
    height: 100%;
    width: 100%;
    white-space: pre;
}
.wgt-textarea-native .container {
     width:100%;
     height:100%;
}
