.episodeGrid
{
    .rb-grid-item-subtitle
    {
        color: $grey;
    }

    .wgt-grid-item
    {
        color: $white;
        margin-right: 0px;
    }
}

.episodeGrid .wgt-grid-item.wgt-grid-selected .wgt-label
{
    visibility: visible;
}

.episodeGrid .wgt-grid-item .wgt-label.whitelabel
{
    font-weight: 600;
    color: $grey;
}

@include scales
{
    .episodeGrid
    {
        width: scale(1550);
        height: scale(370);

        .rb-grid-item-title
        {
            font-size: scale(24);
        }

        .rb-grid-item-subtitle
        {
            font-size: scale(21);
        }

        .wgt-grid-item
        {
            width: scale(372);
            height: scale(380);
        }

    }

    .rb-grid-item-subtitle,
    .rb-grid-item-time
    {
        margin-top: scale(-1);
    }

    .episodeGrid .rb-grid-item-image,
    .episodeGrid .rb-grid-item-overlay
    {
        width: scale(370);
        height: scale(208);
    }

    .rb-grid-item-border
    {
        width: scale(363);
        height: scale(200);
    }

    .episodeGrid .wgt-grid-item .wgt-label.whitelabel
    {
        font-size: scale(16);
        padding-left: scale(16);
        margin: scale(15) 0 scale(5) 0;
    }

    .episodeGrid .rb-grid-item .rb-grid-item-overlay-content
    {
        margin: scale(16) scale(20);
    }
}