.featuredGrid .wgt-grid-item
{
    color: $white;
}

.featuredGrid .rb-grid-item-description
{
    width: 75%;
}

.featuredGrid .rb-grid-item-subtitle
{
    float: left;
    margin-top: 0;
}


.featuredGrid .rb-grid-item-time
{
    color: $grey;
    margin-top: 0;
}

@include scales
{
    #featuredgrid,
    #subChannelFeaturedGrid.featuredgridHeight
    {
        height: scale(450);
    }

    #subChannelFeaturedGrid
    {
        height: scale(675);
    }

    .featuredGrid .wgt-grid-item
    {
        width: scale(398);
        height: scale(225);
        margin-bottom: scale(1);
        margin-right: scale(1);
    }

    .featuredGrid .wgt-grid-item.bigImage
    {
        width: scale(800);
        height: scale(450);
    }

    .featuredGrid .wgt-grid-item.fixCellSize
    {
        width: scale(399);
    }

    .featuredGrid
    {
        .rb-grid-item-image
        {
            width: scale(400);
            height: scale(224);
        }

        .rb-grid-item-border
        {
            width: scale(393);
            height: scale(219);
        }

    }

    .featuredGrid .bigImage
    {
        .rb-grid-item-image
        {
            width: scale(800);
            height: scale(450);
        }

        .rb-grid-item-border
        {
            width: scale(793);
            height: scale(445);
        }
    }

    .featuredGrid .rb-grid-item-title
    {
        font-size: scale(28);
    }

    .featuredGrid .bigImage .rb-grid-item-title
    {
        font-size: scale(45);
    }

    .featuredGrid .rb-grid-item-description
    {
        font-size: scale(21);
        margin-bottom: scale(10);
    }

    .featuredGrid .rb-grid-item-subtitle
    {
        font-size: scale(21);
        margin-right: scale(10);
        max-width: scale(197);
    }

    .featuredGrid .bigImage .rb-grid-item-subtitle
    {
        max-width: scale(580);
        font-size: scale(23);
    }

    .featuredGrid .bigImage .rb-grid-item-time
    {
        margin-top: scale(2);
    }

    .featuredGrid .rb-grid-item-time
    {
        font-size: scale(21);
    }
}
