.latestClipsEpisodeGrid
{
    .rb-grid-item-time
    {
        color: $grey2;
    }
}

@include scales
{
    .latestClipsEpisodeGrid,
    .latestEpisodesLoopedGrid
    {
        width: scale(1500);
        height: scale(210);
    }

    .latestClipsEpisodeGrid
    {
        .wgt-grid-item,
        .rb-grid-item-image
        {
            width: scale(370);
            height: scale(210);
        }

        .rb-grid-item-border
        {
            width: scale(363);
            height: scale(202);
        }

        .rb-grid-item-title
        {
            font-size: scale(28);
        }

        .rb-grid-item-subtitle
        {
            font-size: scale(20);
            float: left;
            margin-right: scale(10);
            max-width: scale(197);
        }

        .rb-grid-item-time
        {
            font-size: scale(20);
        }
    }
}
