#liveLogo
{
    position: absolute;
}

#player-related-videos
{
    .rb-grid-item-overlay-content
    {
        width: 85% !important;
    }
}

#player-related-videos .rb-grid-item-overlay-content .rb-grid-item-title,
.subChannelGrid .rb-grid-item-overlay-content .rb-grid-item-title
{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.playerContainer
{
    z-index: -1 !important;
}

.staticPosition
{
    #page
    {
        background-color: transparent;
    }
}

.overlay-gradient
{
    background-color: rgba(0,0,0,0);
    background-repeat: repeat-x;
    @include gradient(linear, 0%, 0%, 0%, 100%, rgba(0,0,0,1), rgba(0,0,0,0));
    @include linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,1));
}

.overlay-opacity
{
    position: fixed;
}

.opacity-ninety-img
{
    background-color: rgba(0, 0, 0, 0.9);
}

.opacity-eighty-img
{
    background-color: rgba(0, 0, 0, 0.8);
}

.opacity-seventy-cmd
{
    opacity: 0.7;
    background-color: rgb(0,0,0);
}

#player-container
{
    position: fixed;
}

#player-top
{
    position: absolute;
}

#player-meta
{
    position: absolute;
    bottom: 0;
    font-family:RedBullSiri;

    #videoTitle
    {
        font-family: RedBullSiriBlack;
    }

    #videoDesc
    {
        font-family: RedBullSiriBold;
        overflow: hidden;
    }
}

#videoCat,
#mightLikeLabel
{
    background-color: $dark_pink;
    color: white;
    display: inline-block;
    font-family: RedBullSiriBold, RedBullSiri;
}

#videoTitle
{
    color: white;
}

#videoDesc
{
    color: white;
}

#videoDate
{
    color: $grey;
    font-weight: 600;
    font-family: RedBullSiriBold;
}

#player-controls
{
    position: absolute;
}

#player-controls .image-button
{
    background-color: $dark_pink;
    background-repeat: no-repeat;
    opacity: 0.8;
}

#player-controls .image-button.focused
{
    opacity: 1.0;
}

#player-grid
{
    position: absolute;
    right: 0px;
    bottom: 0px;
}

#player-grid .rb-grid-item-title
{
    color: $white;
}

.player-footer-wrapper
{
    background-color: rgb(0, 0, 0);
    opacity: 0.8;
    position: absolute;
}

.player-footer-wrapper .wgt-label
{
    color: $grey;
    font-family: RedBullSiriBold;
    font-weight: normal;
}

.player-footer-wrapper .focused .wgt-label
{
    color: $white;
}

.grid-footer
{
    position: relative;
    text-align: center;
}

.grid-footer > .wgt-grid-scroll
{
    display: inline-block;
}

#player-footer
{
    margin: 0 auto;
}

#player-timeline .wgt-label
{
    color: $grey;
    font-weight: 600;
}

#timeline
{
    position: relative;
}

.wgt-progressBar-background
{
    background-color: $grey;
    opacity: 0.5;
}

.wgt-progressBar-playBar-middle
{
    background-color: $dark_pink;
}

.wgt-progressBar-playBarDiv
{
    position: relative;
}

#player-live-area
{
    color: $white;
}

#player-live-area-thanks
{
    position: absolute;
}

#player-live-area-thanks > .wgt-label
{
    font-family: RedBullSiri;
}

#player-live-area-countdown
{
    position: absolute;
}

.countdown-title
{
    background-color: $dark_pink;
    display: inline-block;
}

.countdown-item-number
{
    text-align: center;
    background-color: $black5;
}

.countdown-item-label
{
    text-align: center;
}

.countdown-desc
{
    text-align: center;
}

#player-live-area-paused
{
    position: absolute;
}

#player-live-area-paused .wgt-layout .wgt-label
{
    background-color: $black6;
}

#player-live-area-paused > .wgt-label
{
    font-family: RedBullSiri;
    text-align: center;
}

@include scales
{
    #liveLogo
    {
        background-image: image(player/rb_playerlogo);
        width: scale(130);
        height: scale(55);
        left: scale(1100);
        top: scale(40);
    }

    #liveLogo.live
    {
        background-image: image(player/rb_playerlogo_live);
    }

    #player-related-videos
    {
        .wgt-grid-item,
        .rb-grid-item-image
        {
            width: scale(155);
            height: scale(88);
        }

        .rb-grid-item-border
        {
            width: scale(148);
            height: scale(80);
        }

        .wgt-grid-item
        {
            margin-right: scale(3);
        }

        .rb-grid-item-overlay-content
        {
            margin: scale(15) scale(12);
        }
    }

    .subChannelGrid .rb-grid-item-overlay-content .rb-grid-item-title
    {
        width: scale(140);
    }

    .staticPosition
    {
        #player-root
        {
            width: scale(1280);
            height: scale(720);
        }
    }

    .overlay-gradient
    {
        @include linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,1));
        width: scale(1280);
        height: scale(723);
    }

    .overlay-opacity
    {
        left: scale(0);
        top: scale(0);
        width: scale(1280);
        height: scale(723);
    }
    #player-container
    {
        width: scale(1280);
        height: scale(720);
        top: scale(0);
        left: scale(0);
    }

    #player-top
    {
        bottom: scale(245);
        margin-left: scale(50);
        height: scale(355);
        width: scale(1174);
    }

    .soon #player-top
    {
        bottom: scale(75);
    }

    #player-meta
    {
        width: scale(568);

        #videoTitle
        #videoDesc
        {
            max-height: scale(225);
        }
    }

    #mightLikeLabel
    {
        margin-bottom: scale(10);
    }

    #videoCat,
    #mightLikeLabel
    {
        padding: scale(7) scale(8) scale(6) scale(8);
    }

    #videoTitle
    {
        font-size: scale(40);
        margin-bottom: scale(15);
        margin-top: scale(5);
        line-height: scale(43);
    }

    #videoDesc
    {
        font-size: scale(21);
        margin-bottom: scale(5);
    }

    #videoDate
    {
        font-size: scale(20);
        margin-top: scale(15);
    }

    #player-controls
    {
        bottom: scale(105);
        left: scale(50);
    }

    #player-controls .play-video
    {
        background-image: image(player/icon_play);
    }

    #player-controls .pause-video
    {
        background-image: image(player/icon_pause);
    }

    #player-controls .stop-video
    {
        background-image: image(player/icon_stop);
    }

    #player-controls .rewind-video
    {
        background-image: image(player/icon_backward);
    }

    #player-controls .forward-video
    {
        background-image: image(player/icon_forward);
    }

    #player-controls .image-button
    {
        margin: 0 scale(2) scale(10) scale(1);
        width: scale(42);
        height: scale(42);
        border: scale(3) solid transparent;

        &.focused
        {
            border: scale(3) solid $yellow2;
        }
    }

    #player-buttons
    {
        margin-left: scale(480);
    }

    #player-grid
    {
        margin-left: scale(250);
    }

    .soon #player-grid
    {
        padding-top: scale(110);
    }


    .player-footer-wrapper
    {
        top: scale(648);
        height: scale(72);
        width: scale(1280);
        border-top: solid scale(1) $grey5;
    }

    .player-footer-wrapper .wgt-label
    {
        font-size: scale(22);
        margin-top: scale(4);
        margin-left: scale(10);
    }

    .grid-footer
    {
        margin: scale(12) auto 0 auto;
    }


    .grid-footer > .wgt-grid-scroll > .wgt-grid-row-v
    {
        margin-left: scale(10);
        height: scale(60);
    }

    .grid-footer .wgt-layout
    {
        line-height: scale(38);
        height: scale(48);
        padding: scale(3) scale(5);
    }

    .subtitle-toggle-image
    {
        background-image: image(icons/icon_subtitle_on);
        width: scale(44);
        height: scale(38);
        margin-top: scale(5);
    }

    .focused > .subtitle-toggle-image
    {
        background-image: image(icons/focused/icon_subtitle_on);
    }

    .captions-off > .subtitle-toggle-image
    {
        background-image: image(icons/icon_subtitle_off);
    }

    .focused.captions-off > .subtitle-toggle-image
    {
        background-image: image(icons/focused/icon_subtitle_off);
    }

    .show-overview-image
    {
        background-image: image(icons/icon_arrow);
        margin-top: scale(4);
        width: scale(36);
        height: scale(36);
    }

    .focused > .show-overview-image
    {
        background-image: image(icons/focused/icon_arrow);
    }

    #player-footer
    {
        width: scale(230);
    }

    #player-timeline
    {
        margin-left: scale(-22);
    }

    #player-timeline.liveMode #timeline
    {
        margin-left: scale(10);
        width: scale(985);
    }

    #player-timeline .wgt-label
    {
        font-size: scale(18);
        padding-top: scale(2);
        width: scale(74);
        margin: scale(7) scale(10);
    }

    #timeline
    {
        margin-top: scale(15);
        width: scale(1034);
        height: scale(10);
    }

    #player-live-area-thanks
    {
        left: scale(530);
        top: scale(200);
    }

    #player-live-area-thanks .live-area-logo
    {
        background: image(logo) no-repeat;
        width: scale(220);
        height: scale(141);
    }

    #player-live-area-thanks > .wgt-label
    {
        font-size: scale(38);
        margin-left: scale(-60);
        margin-top: scale(23);
    }

    #player-live-area-countdown
    {
        left: scale(500);
        top: scale(120);
    }

    .soon #player-live-area-countdown
    {
        top: scale(145);
    }

    .countdown-title
    {
        padding: scale(8) scale(20);
        font-size: scale(22);
        margin-left: scale(82);
        margin-bottom: scale(15);
    }

    .countdown-item-number
    {
        font-size: scale(30);
        margin: 0 scale(2);
        padding: scale(12) 0;
        width: scale(65);
    }

    .countdown-item-label
    {
        font-size: scale(16);
        margin-top: scale(2);
    }

    .countdown-desc
    {
        margin-top: scale(24);
    }

    #player-live-area-paused
    {
        left: scale(450);
        top: scale(200);

        .icon-live-area-pause
        {
            background: image(player/pause-live) right top no-repeat;
            width: scale(111);
            height: scale(111);
        }
    }

    #player-live-area-paused .wgt-layout .wgt-label
    {
        font-size: scale(20);
        padding: scale(42) scale(40) scale(45);
    }
    #player-live-area-paused > .wgt-label
    {
        margin-top: scale(35);
        margin-left: scale(37);
        width: scale(300);
        font-size: scale(18);
    }
}
