.search-view-scrollable
{
    position: relative;
}

.search-view-top-container
{
    position: absolute;
    top: 0px;
    left: 0px;
}

.search-view-icon
{
    position: absolute;
}

.search-view-info
{
    position: absolute;
    color: $grey4;
    text-align: center;
}

.searched-for
{
    position: absolute;
    float: left;
    color: $grey3;
    font-family: RedBullSiri;
    font-weight: 600;
}

.search-view-grid-container
{
    position: absolute;
    color: $white3;
}

.search-shows .rb-grid-item-subtitle
{
    white-space: normal;
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.search-tabs
{
    position: absolute;
}

.search-tabs .wgt-grid-row-v
{
    text-align: center;
}

.search-grid
{
    position: relative;
}

.search-grid-container
{
    overflow: hidden;
    position: absolute;
}

.search-grid-container .search-not-found
{
    position: relative;
    text-align: center;
}

.search-grid-gradient
{
    width: 100%;
    position: absolute;
    @include linear-gradient(bottom, rgba(5,5,5,0), rgba(5,5,5,0.1));
}

.search-grid .wgt-grid-scroll
{
    overflow: visible;
}

.search-grid .no-data-cell,
.search-grid .no-data-cell > .wgt-label
{
    width: 100%;
    text-align: center;
}

.clear-search
{
    position: absolute;
    text-align: center;
}

.clear-search > .wgt-label
{
  font-family: sans-serif;
}

.clear-search.focused
{
    background: transparent;
    color: $white3;
}

.tab-button
{
    position: relative;
    margin: 0;
}

.tab-button.focused
{
    background-color: transparent;
    color: $white3;
}

.search-made .tab-button.wgt-grid-selected > .tab-button-highlight,
.search-made .tab-button.focused > .tab-button-highlight
{
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: $dark_pink;
}

.search-made .tab-button.focused > .tab-button-highlight
{
    background-color: $yellow2;
}

@include scales
{

    .search-view
    {
        height: scale(720);
        width: scale(1280);
    }

    .search-view-top-container
    {
        width: scale(1200);
        height: scale(115);
    }

    .search-view-icon
    {
        background: image(search_background) no-repeat;
        @include dim(560, 385, 110, 100);
    }

    .search-view-info
    {
        top: scale(530);
        left: scale(430);
        font-size: scale(25);
        width: scale(400);
    }

    .searched-for
    {
        top: scale(36);
        left: scale(32);
        font-size: scale(24);
    }

    .search-view-grid-container
    {
        @include dim(140, 145, 1190, 685);
    }

    .search-view-grid-container .wgt-grid-row-h,
    .search-item
    {
        height: scale(100);
        width: scale(940);
    }

    .search-view-grid-container .wgt-grid-row-h
    {
        height: scale(112);
    }

    .search-shows .search-item
    {
        height: scale(168);
    }

    .search-view-grid-container .search-shows .wgt-grid-row-h
    {
        height: scale(180);
    }

    .search-shows .rb-grid-item-subtitle
    {
        height: scale(68);
    }

    .search-item
    {
        .rb-grid-item-overlay
        {
            left: scale(177);
            height: scale(100);
            width: scale(764);
        }

        .rb-grid-item-border
        {
            width: scale(933);
            height: scale(93);
        }
    }

    .search-shows .search-item
    {
        .rb-grid-item-overlay
        {
            left: scale(132);
            height: scale(162);
            width: scale(800);
        }

        .rb-grid-item-border
        {
            width: scale(933);
            height: scale(162);
        }
    }

    .search-item
    {
        border-bottom: scale(1) solid $grey;
    }

    .search-item .rb-grid-item-title
    {
        font-size: scale(24);
    }

    .search-tabs .wgt-grid-row-v
    {
        width: scale(188);
        height: scale(50);
        line-height: scale(50);
    }

    .search-grid
    {
        margin-top: scale(80);
    }

    .search-grid-container
    {
        top: scale(50);
    }

    .search-grid-container .search-not-found
    {
        margin-top: scale(80);
        width: scale(940);
    }

    .search-grid-gradient
    {
        height: scale(100);
        top: scale(50);
    }

    .clear-search
    {
        @include dim(1095, 30, 50, 44);
        line-height: scale(50);
    }

    .clear-search > .wgt-label
    {
      font-size: scale(25);
    }

    .tab-button
    {
        border-bottom: scale(1) solid $grey;
        border-right: scale(1) solid $grey;
        height: scale(49);
    }

    .row-4 > .tab-button
    {
        border-right: scale(1) solid transparent;
    }

    .search-made .tab-button.wgt-grid-selected > .tab-button-highlight,
    .search-made .tab-button.focused > .tab-button-highlight
    {
        height: scale(5);
    }

}