#showLayout .gridTitle
{
    display: none;
    margin-left: 0;
}

.show-gradient-overlay
{
    position: absolute;
}

.showGridImage .wgt-button
{
    padding: 0;
}

#showLayout img#showTitleImage
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#showLayout .episodeGrid .wgt-label.whitelabel
{
    font-family: RedBullSiri;
}

@include scales
{
    #showLayout
    {
      margin-left: scale(20);
    }

    .show-gradient-overlay
    {
      width: scale(1200);
      height: scale(720);
      @include linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,1));
    }

    .showGridImage
    {
        height: scale(220);
    }

    .showGridImage .wgt-grid-item
    {
        width: scale(160);
        height: scale(220);

        .rb-grid-item-border
        {
            width: scale(153);
            height: scale(212);
        }
    }

    #showLayout img#showTitleImage
    {
        margin-top: scale(15);
        height: scale(180);
    }

    #showLayout .episodeGrid .wgt-label.whitelabel
    {
        font-size: scale(21);
    }

}