.subChannelGrid
{
    .rb-grid-item-title
    {
        color: $white;
        font-family: RedBullSiriBlack;
    }
}
.subChannelDetailGrid
{
    .rb-grid-item-time
    {
        color: $grey2;
    }

    .more-arrow
    {
        margin: auto;
        top: 50%;
        position: relative;
    }
}

@include scales
{
    .subChannelGrid
    {
        height: scale(96);

        .wgt-grid-item,
        .rb-grid-item-image
        {
            width: scale(170);
            height: scale(96);
        }

        .rb-grid-item-border
        {
            width: scale(163);
            height: scale(88);
        }

        .rb-grid-item-title
        {
            font-size: scale(18);
            font-family: RedBullSiriBlack;
        }

        .rb-grid-item-overlay-content
        {
            margin: scale(13);
            margin-bottom: scale(16);
        }
    }

    .subChannelDetailGrid
    {
        width: scale(1500);
        height: scale(210);

        .rb-grid-item-image,
        .wgt-grid-item
        {
            width: scale(370);
            height: scale(210);
        }

        .rb-grid-item-border
        {
            width: scale(363);
            height: scale(202);
        }

        .rb-grid-item-title
        {
            font-size: scale(24);
        }

        .rb-grid-item-subtitle
        {
            font-size: scale(20);
            margin-right: scale(10);
        }

        .rb-grid-item-time
        {
            font-size: scale(20);
        }
        .wgt-grid-row-v
        {
            height: scale(210);
            min-width: scale(140);
        }

        .more-arrow
        {
            width: scale(50);
            height: scale(50);
            margin-top: scale(-25);
        }

        .more-button
        {
            width: scale(166);
            height: scale(210);
            background-image: image(more_button)
        }

        .more-button.focused
        {
            background-image: image(more_button_focus);
        }
    }
}