.sefplayer.external-subtitle{
    z-index: 100;
}
.sefplayer.external-subtitle .text{
    position: absolute;
    top: 80%;
    width: 100%;
    text-align: center;
}

/* subtitle font color */
.sefplayer.external-subtitle.FG_COLOR_WHITE {
    color:white;
}
.sefplayer.external-subtitle.FG_COLOR_BLACK {
    color:black;
}
.sefplayer.external-subtitle.FG_COLOR_RED{
    color:red;
}
.sefplayer.external-subtitle.FG_COLOR_GREEN{
    color:green;
}
.sefplayer.external-subtitle.FG_COLOR_BLUE{
    color:blue;
}
.sefplayer.external-subtitle.FG_COLOR_YELLOW{
    color:yellow;
}
.sefplayer.external-subtitle.FG_COLOR_MAGENTA{
    color:magenta;
}
.sefplayer.external-subtitle.FG_COLOR_CYAN{
    color:cyan;
}

/* subtitle background color */
.sefplayer.external-subtitle.BG_COLOR_WHITE .text{
    background-color:white;
}
.sefplayer.external-subtitle.BG_COLOR_BLACK .text{
   background-color:black;
}
.sefplayer.external-subtitle.BG_COLOR_RED .text{
    background-color::red;
}
.sefplayer.external-subtitle.BG_COLOR_GREEN .text{
    background-color:green;
}
.sefplayer.external-subtitle.BG_COLOR_BLUE .text{
    background-color:blue;
}
.sefplayer.external-subtitle.BG_COLOR_YELLOW .text{
    background-color:yellow;
}
.sefplayer.external-subtitle.BG_COLOR_MAGENTA .text{
    background-color:magenta;
}
.sefplayer.external-subtitle.BG_COLOR_CYAN .text{
    background-color:cyan;
}
.sefplayer.external-subtitle.BG_COLOR_DEFAULT .text{
    background-color:transparent;
}

/* subtitle font family */
.sefplayer.external-subtitle.FONT_STYLE1 .text{
    font-family: "Courier";
}
.sefplayer.external-subtitle.FONT_STYLE2 .text{
    font-family: "Times";
}
.sefplayer.external-subtitle.FONT_STYLE3 .text{
    font-family: "Monospace";
}
.sefplayer.external-subtitle.FONT_STYLE4 .text{
    font-family: "Arial";
}
.sefplayer.external-subtitle.FONT_STYLE5 .text{
    font-family: "Impress";
}
.sefplayer.external-subtitle.FONT_STYLE6 .text{
    font-family: "Coronet";
}
.sefplayer.external-subtitle.FONT_STYLE7 .text{
    font-family: "Engraver";
}
.sefplayer.external-subtitle.FONT_UNDEFINED .text{
    font-family: "Proxima-SemiBold";
}

/* subtitle font size */
.sefplayer.external-subtitle.SIZE_SMALL .text{
    font-size: small;
}
.sefplayer.external-subtitle.SIZE_LARGE .text{
    font-family: large;
}
.sefplayer.external-subtitle.SIZE_EXTRA_LARGE .text{
    font-family: x-large;
}
.sefplayer.external-subtitle.SIZE_STANDARD .text{
    font-family: medium;
}
.sefplayer.external-subtitle.FONT_DEFAULT .text{
    font-family: medium;
}

/* subtitle font opacity */
.sefplayer.external-subtitle.FG_OPACITY_FLASH .text, .sefplayer.external-subtitle.BG_OPACITY_FLASH .text{
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes blinker
{
    0% { opacity: 1.0; }
    20% { opacity: 1.0; }
    30% { opacity: 0.0; }
    70% { opacity: 0.0; }
    80% { opacity: 1.0; }
    100% { opacity: 1.0; }
}

.sefplayer.external-subtitle.FG_OPACITY_SOLID .text, .sefplayer.external-subtitle.BG_OPACITY_SOLID .text{
    alpha : 1;
}
.sefplayer.external-subtitle.FG_OPACITY_TRANSLUCENT .text, .sefplayer.external-subtitle.BG_OPACITY_TRANSLUCENT .text {
    alpha : 0.5;
}
.sefplayer.external-subtitle.FG_OPACITY_TRANSPARENT .text, .sefplayer.external-subtitle.BG_OPACITY_TRANSPARENT .text{
    alpha :0;
}